/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

html {
    overflow-x: hidden;
    width: 100%;
}
body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #222;
    overflow-x: hidden; 
    background: whitesmoke;
}

h3{
    font-size: 2.3em;
  font-weight: 500;
}
p{
  font-size: 1em;

}

a:hover{
  opacity: .85;
}

p a{
  color: #27ae60;
  font-weight: 400;
  border-bottom: 2px solid transparent;
}

b a {font-weight: bold;}

p a:hover{
    opacity: 1;
    border-bottom: 2px solid #27ae60;
}

table
{
  border:1px solid #ababab;
  margin:0 auto;
}
td, th{
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

ul, li, ol{
list-style-position: inside ;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-padding-start: 0;
}

b{
  font-weight: 700; 

}




.logo{
  width: 90px;
}

.img_res{
  max-height: 250px;
  height: 100%;
}

.grey{
  color: #787878;
}


/*=======================================
KICKSTARTER HIDE + SHOW CSS
========================================*/

/*COMMENT OUT .hide_kik TO SHOW KICKSTARTER BANNER + LOGO. 
REMEMBER TO REMOVE COMMENT ON .kik_coming_soon_hide */
.hide_kik{
  display: none;
  visibility: hidden;
}

.kik_coming_soon{
  color: #27ae60;
  font-weight: 700;
  font-size: 3em;
}

/*
REMOVE COMMENT TO HIDE "Kickstarter Coming Soon"
.kik_coming_soon_hide{
  display: none;
  visibility: hidden;
}
*/

/*=======================================
KICKSTARTER HIDE + SHOW CSS - END
========================================*/



.eff{
  max-width: 680px;
  width: 100%;
}

.h3_sub{
  margin-bottom: -10px;
}

.link{
  font-size: 1.1em;
  border-bottom: 2px solid transparent;
  margin-left: 10px;
  margin-right: 10px;
  color: #27ae60;
  text-transform: uppercase;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -ms-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
}
.link:hover{
  border-bottom: 2px solid #27ae60;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
#kik_pic{
  padding-bottom: 50px;
  display: block;
  margin: 0 auto;

}
#kik_pic:hover{
  opacity: .9;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

#kik{
  position: absolute;
  top: -1px;
  right:  -1px;
  width: 200px;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -ms-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
}
#kik:hover{
  opacity: .7;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

#facebook{
  color: #3b5998;
  font-size: 1.2em;
  font-weight: 400;
}
#gmail{
  color: rgb(201, 44, 25); 
  font-size: 1.2em;
  font-weight: 400;
}
.slideshow
{ 
  position: relative; 
  padding: 0;
  margin: 0 auto;
  overflow: visible;
  max-width: 680px;
  width: 100%;
  height: 340px;
}
.slideshow > div
{ 
  position: absolute; 
  padding: 0;
  margin: 0 auto;
  overflow: visible;
  max-width: 680px;
  width: 100%;
  height: 350px;
}
.slideshow img 
{ 
  position: absolute;
  top:0;
  /*display: none;*/
  visibility: hidden;
  float: left;
  max-width: 680px !important;
  width: 100%;
  display: inline-block;
}

.slideshow span {
  position: absolute;
  visibility: hidden;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.96em;/*hack - SLIDESHOW TEXT*/
  width: 100px; /* has to be the same as #service */
}

#serviceTagline span {
  position: relative;
  margin: 0 auto;
  width: 100px;
  margin-top: 1em;
}
#service {
  display: inline-block;
  width: 100px;
  height: 20px;
  margin: 0 5px;
  top: 0;
}

#subtitle{
  margin-top: -20px;
  line-height: 1.8em;
}

.faq_question{
  font-size: 2em;
  line-height: 0;
  margin-top: 1.5em;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.faq_question:hover{
  opacity: .7;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.faq_answer{
  text-align: left;
}


a {
  color: #222;
  text-decoration: none;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

a:hover {
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

#logo{
    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
#logo:hover{
    opacity: .6;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

#more{
  border:1px solid rgba(39, 174, 96, 1);
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px;
  padding-right: 10px;
  padding-left: 10px;
  display: block;
  max-width: 200px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
#more:hover{
  background-color: rgba(39, 174, 96, .2);
  opacity: 1;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

#email{
  color: #8A8A8A;
  font-weight: 300;
  margin-bottom: 2px;
  position: relative;
  margin-top: 50px;
}
#email_bottom{
  color: #8A8A8A;
  font-weight: 300;
  margin-bottom: 2px;
  position: relative;
}

.green{
  color: #27ae60;
}


@media screen and (max-width: 55em) {

  .container > header h1,
  .container > header nav {
    float: none;
  }

  .container > header > span,
  .container > header h1 {
    text-align: center;
  }

  .container > header nav {
    margin: 0 auto;
  }

  .container > header > span {
    text-indent: 30px;
  }
}

.section_color_top{
  background-color: #ffffff;
}
.section_color_middle{
  background-color: #f5f5f5;
}
#section_color_last{
  background-color: #ffffff;
}

.features{
  padding-bottom: 2.5em;
}

img.features {
  box-shadow: 2px 2px 4px #888888;
  padding: 0px;
}

.cbp-so-scroller {
  overflow: visible; /* <! GREG CHANGED THIS TO FIX SLIDE SHOW! */
}

.cbp-so-section:first-child {
  margin-bottom: 5em;
  padding-bottom: 1em;
}



/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
  content: " ";
  display: table;
}

.cbp-so-section:after {
  clear: both;
}

/* Text styling */
.cbp-so-section h2 {
  font-size: 4em;
  font-weight: 300;
  line-height: 1;
  margin-top: 0;
}

.cbp-so-section p {
  font-size: 1.2em;
  font-weight: 300;
}

/* Sides */
.cbp-so-side {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  overflow: visible;   /* <! GREG CHANGED THIS TO FIX SLIDE SHOW! */
  padding-top: 3em;
  padding-bottom: 3em;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -moz-transition: -moz-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
}
.cbp-so-side-left {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 40px;
  overflow: hidden;
  margin-top: -6em;
  padding-bottom: 3em;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -moz-transition: -moz-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
}
.cbp-so-side-right {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 15px;
  overflow: hidden;
  margin-top: -6em;
  padding-bottom: 3em;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -moz-transition: -moz-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
}
.center{
  margin-bottom: -5em;
}

.left{
  width: 50%;
  float: left;
  text-align: right;
  padding-right: 2em;
}

.right{
  width: 50%;
  float: right;
  text-align: left;
  padding-left: 2em;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
  content: " ";
  display: table;
}

.cbp-so-side:after {
  clear: both;
}

.cbp-so-side-center {
  text-align: center;
}

.cbp-so-side-center img {
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
  opacity: 0;
}

.cbp-so-init .cbp-so-side-center {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
.cbp-so-init .cbp-so-side-left {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
.cbp-so-init .cbp-so-side-right {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}


/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-center {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
.cbp-so-section.cbp-so-animate .cbp-so-side-left {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}


.cbp-so-section.cbp-so-animate .cbp-so-side-center {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.cbp-so-section.cbp-so-animate .cbp-so-side-left  {
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  transition-delay: 1s;
}
.cbp-so-section.cbp-so-animate .cbp-so-side-right  {
  -webkit-transition-delay: 1.8s;
  -moz-transition-delay: 1.8s;
  transition-delay: 1.8s;
}



#footer{
  border-bottom: 5px solid #27ae60;
  color: #8A8A8A;
  background-color: #252525;
  height: 300px;
  padding-top: 2.5em;
  height: 500px;
}
.to_top{
  color: #8A8A8A;
  font-weight: 300;
  font-size: .8em;
}
.footer{
  padding-top: 0;
  padding-bottom: 0;
}



input{
  border:none;
  max-width: 400px;
  width: 100%;
  height: 60px;
  color: #8A8A8A;
  background-color: white;
  position: relative;
  border-radius: 0px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  position: relative;
  display: inline-block!important;
}
input[type=text], textarea {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 20px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #27ae60;
}
 
input[type=text]:focus, textarea:focus {

  padding: 3px 0px 3px 20px;
  margin: 5px 1px 3px 0px;
    -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out; 
}
input[type=submit], textarea {
  -webkit-transition: all 0.005s ease-in-out;
  -moz-transition: all 0.005s ease-in-out;
  -ms-transition: all 0.005s ease-in-out;
  -o-transition: all 0.005s ease-in-out;
  outline: none;
  vertical-align: bottom;
  -webkit-appearance: none;
}
 


.button{
  background-color:  #27ae60;
  border: 1px solid #27ae60;
  position: relative;
  width: 70px;
  max-height: 60px;
  padding-left: 5px;
  right: 5px;
  padding-right: 5px;
  margin-bottom: 3px;
  color: whitesmoke;
  font-size: 14px;
  text-align: center;
  -webkit-appearance: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
@-moz-document url-prefix() {
 
    .button { margin-left: -5px }
 
}



.button:active{
  color: #8A8A8A;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -ms-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
}
.button:hover{
  cursor: pointer;
  color: #8A8A8A;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

#up_arrow_container{
  margin-top: 20px;
}
#up_arrow:hover {
  opacity: .6;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

#down_arrow_container{
  position: relative;
  margin-top: 35px;
}

#down_arrow{
  position: relative;
  margin-top: 0px;
  opacity: .6;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

      #down_arrow {
        opacity: .6;
        -webkit-animation: down_arrow_animation_gwd-keyframes 1s linear 2.5s forwards;
         -moz-animation: down_arrow_animation_gwd-keyframes 1s linear 2.5s forwards;
      }
      @keyframes "down_arrow_animation_gwd-keyframes" {
 0% {
  
  top: 0px;
    position: relative;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
 }
 20% {
    top: 15px;
    position: relative;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
 }
 30% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: 5px;
    position: relative;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
 }
 50% {
    top: 15px;
    position: relative;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
 }
 80% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8;
    top: 0px;
    position: relative;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
 }
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    opacity: .6;
    top: 0px;
    position: relative;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
 }

}

@-moz-keyframes down_arrow_animation_gwd-keyframes {
 0% { 
  top: 0px;
   position: relative;
   -moz-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 20% {
   top: 15px;
   position: relative;
   -moz-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 30% {
   filter: alpha(opacity=100);
   opacity: 1;
   top: 5px;
   position: relative;
   -moz-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 50% {
   top: 15px;
   position: relative;
   -moz-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 80% {
   filter: alpha(opacity=80);
   opacity: .8;
   top: 0px;
   position: relative;
   -moz-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 100% {
   filter: alpha(opacity=60);
   opacity: .6;
   top: 0px;
   position: relative;
   -moz-animation-timing-function: linear;
   animation-timing-function: linear;
 }

}

@-webkit-keyframes "down_arrow_animation_gwd-keyframes" {
 0% { 
  top: 0px;
   position: relative;
   -webkit-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 20% {
   top: 15px;
   position: relative;
   -webkit-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 30% {
   filter: alpha(opacity=100);
   opacity: 1;
   top: 5px;
   position: relative;
   -webkit-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 50% {
   top: 15px;
   position: relative;
   -webkit-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 80% {
   filter: alpha(opacity=80);
   opacity: .8;
   top: 0px;
   position: relative;
   -webkit-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 100% {
   filter: alpha(opacity=60);
   opacity: .6;
   top: 0px;
   position: relative;
   -webkit-animation-timing-function: linear;
   animation-timing-function: linear;
 }

}

@-ms-keyframes "down_arrow_animation_gwd-keyframes" {
 0% { 
  top: 0px;
   position: relative;
   -ms-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 20% {
   top: 15px;
   position: relative;
   -ms-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 30% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   top: 5px;
   position: relative;
   -ms-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 50% {
   top: 15px;
   position: relative;
   -ms-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 80% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
   filter: alpha(opacity=80);
   opacity: .8;
   top: 0px;
   position: relative;
   -ms-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
   filter: alpha(opacity=60);
   opacity: .6;
   top: 0px;
   position: relative;
   -ms-animation-timing-function: linear;
   animation-timing-function: linear;
 }

}

@-o-keyframes "down_arrow_animation_gwd-keyframes" {
 0% { 
  top: 0px;
   position: relative;
   -o-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 20% {
   top: 15px;
   position: relative;
   -o-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 30% {
   filter: alpha(opacity=100);
   opacity: 1;
   top: 5px;
   position: relative;
   -o-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 50% {
   top: 15px;
   position: relative;
   -o-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 80% {
   filter: alpha(opacity=80);
   opacity: .8;
   top: 0px;
   position: relative;
   -o-animation-timing-function: linear;
   animation-timing-function: linear;
 }
 100% {
   filter: alpha(opacity=60);
   opacity: .6;
   top: 0px;
   position: relative;
   -o-animation-timing-function: linear;
   animation-timing-function: linear;
 }

}

#down_arrow img{
    -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}
#down_arrow img:hover {
  opacity: .4;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  padding-bottom: 30px;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  margin:0 auto;  
  }

.rslides img {
  display: block;
  max-height: 300px;
  height: auto;
  margin:0 auto;  
  max-width:600px;
    width: auto;
  border: 0;
  }

  #coming_soon{
    margin-top: 1em;
    padding-bottom: 2em;
  }


/*! 
 * Flow - A Fully Fluid Responsive Grid System
 * Created by Isaac Gray
 *
 * Generate a grid at http://flow.gs
 */
 
.sectiongs {
  clear: both;
  padding: 0;
  margin: 0;
  margin-left: -0.5em;
}

.colgs {
  display: block;
  float:left;
  width: 100%;
  box-sizing: border-box; /* Supported by IE 8+. If IE 7 and below support is required see http://html5please.com/#box-sizing */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-clip: padding-box; /* This allows column elements to have background colour without it bleeding into the gutter. Supported by IE 9+. If support for IE 8 and below is required, a content div with background colour should be placed inside the column */
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  margin: 0 0 0.25em 0;
  border-left: 2em solid transparent;
}

.group:before,
.group:after {
  content:"";
  display:table;
}

.group:after {
  clear:both;
}

@media only screen and (min-width:480px) {

  .colgs {
    width: auto;
  }

  .s1{ width: 50%; }

  .s2{ width: 100%; }
}



@media screen and (max-width: 1300px){
  
  .features{
    max-width: 500px;
    width: 100%;
  }
 
 } 


@media screen and (max-width: 850px){

  .features{
  padding-bottom: 0em;
}
#kik{
  width: 150px;
}
    
.left{
  width: 100%;
  float: none;
  padding-right: 0;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0;
}

.right{
  width: 100%;
  float: none;
  padding-left: 0;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0;
}
.cbp-so-side-left {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
  margin-top: -6em;
  padding-bottom: 3em;
  text-align: center;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -moz-transition: -moz-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
}
.cbp-so-side-right {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
  margin-top: -6em;
  padding-bottom: 3em;
  text-align: center;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -moz-transition: -moz-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
}
.cbp-so-section h2 {
    font-size: 60px;
    margin-top: -0em;
  }
  h3{
  margin-top: .8em;
}
  .features{
    max-width: 600px;
    width: 100%;
    float: none;
    padding-left: 15px;
    padding-right: 15px;
}
.slideshow{
  height: 350px;
}
.slideshow span {
  position: absolute;
  visibility: hidden;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.96em;/*hack - SLIDESHOW TEXT*/
  padding-left: 10px;
}

}


@media screen and (max-width: 650px){
.slideshow{
  height: 290px;
}

}
@media screen and (max-width: 580px){
.slideshow{
  height: 280px;
}

}

@media screen and (max-width: 538px){
.slideshow span {

  padding-left: 52px;
}

}
@media screen and (max-width: 509px){
.slideshow span {

  padding-left: 2px;
}

}


  @media screen and (max-width: 500px) {
.cbp-so-section h2 {
    font-size: 55px;
    margin-top: .2em;
  }

  .features{
    max-width: 400px;
    width: 100%;
    float: none;
    margin: 0 auto;
    text-align: center;
}

  .rslides img {
  display: block;
  max-height: 150px;
  height: auto;
  margin:0 auto;  
  max-width:100%;
    width: auto;
  border: 0;
  }

  input{
    max-width: 200px;
    width:100%;
    height: 50px;
  }
  .button{
  position: relative;
  width: 60px;
  height: 50px;
}
.cbp-so-scroller {
  margin-top: 1em;
  overflow: visible; /* <! GREG CHANGED THIS TO FIX SLIDE SHOW! */
}
h3{
  margin-top: .4em;
}
#more{
  margin-top: -1.5em;
}
.slideshow{
  height: 220px;
}


.slideshow span {
  position: absolute;
  visibility: hidden;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 88px; /* has to be the same as #service */
    margin-top: .98em;/*iPhone hack - SLIDESHOW TEXT*/
    padding-left: 10px;
}
#serviceTagline span {
  position: relative;
  margin: 0 auto;
  width: 88px;
}
#service {
  display: inline-block;
  width: 88px;
  height: 20px;
  margin: 0 5px;
}

#subtitle{
  margin-top: -20px;
  line-height: 1.8em;
}
.link{
  font-size: .7em;
  margin-right: 5px;
  margin-left: 5px;
}
#kik{
  width: 120px;
}
#kik_pic{
  padding-bottom: 40px;
}
.logo{
  width: 50px;
}

.colgs {
  border-left: 0em solid transparent;
}

}

@media screen and (max-width: 449px){
.slideshow span {

  padding-left: 30px;
}

}

@media screen and (max-width: 350px){
.slideshow{
  height: 150px;
}
.slideshow span {

    padding-left: 0;
}

}


