.team{
	.header{
		padding: 60px 0;
		background-color: $green;
		h1{
			font-size: 40px;
		}
		h3{
			font-size: 1.1em;
		}
	}

	.meet-the-team{
		padding: 80px 0;
		background-color: $white;	
		h2{
			font-size: 34px;
			color: $dark-green;
			margin-bottom: 30px;
		}

		.members{
			.member{
				position: relative;
				display: block;
				width: 100%;
				padding: 50px 0;
				.img{
					width: 19%;
					display: inline-block;
					vertical-align: middle;
					margin-right: 5%;
					img{
						position: relative;
						max-width: 150px;
						width: 100%;
						height: auto;
						border-radius: 50%;

					}
				}
				.content{
					width: 74%;
					display: inline-block;
					vertical-align: middle;
					h4{
						color: $black;
						font-size: 1.2em;
					}
					p{
						margin-top: 20px;
						color: $grey;
					}
				}
			}
			@media only screen and (max-width:668px) {
				.member{
					.img, .content{
						float: left;
					}
				}
			}
		}
	}
	#memory-of{
		background-color: $white;
		padding-bottom: 80px;
		a{
			color: $blue;
		}
		a:hover{
			text-decoration: underline;
		}
		h2{
			font-size: 34px;
			color: $dark-green;
			margin-bottom: 50px;
		}
		.half{
			position: relative;
			display: block;
			width: 47%;
			float: left;
			text-align: left;
			h3{
				color: $black;
				font-size: 1.6em;
				font-weight: normal;
				margin-bottom: 20px;
			}
			img{
				max-width: 150px;
			}
			p{
				margin-top: 20px;
			}
		}
		.half-left{
			margin-right: 6%;
		}
			@media only screen and (max-width:668px) {
			.half{
				width: 100%;
				margin-bottom: 50px;
			}
			.half-left{
				margin-right: 0;
			}
			
		}
	}
}
