.header--index {
  background-color: $green;
  padding-top: 100px;
  padding-bottom: 300px;

  h1 {
    color: $white;
  }

  .home-container {
    max-width: 800px;
    text-align: center;
  }

  @include until (568px) {
    padding-bottom: 44vw;
  }
}

.header--shared {
  padding: 60px 0;
  background-color: $green;
  @include side-padding;

  h1 {
    font-size: 40px;
    color: $white;
  }

  h3 {
    font-size: 1.1em;
  }
}
