@import "../variables";

.hiring-page {
  .hiring-header {
    text-align: center;
    padding: 100px 0;
    background-color: $white;

    .container {
      max-width: 47rem;
      @include side-padding;
      margin: 0 auto;
    }

    .hiring-posttitle {
      font-family: "proxima_novaregular";
      color: $grey;
      font-size: 1.1em;
    }

    h1 {
      font-size: 44px;
      color: $dark-green;
      margin: 1.5rem 0;
    }

    p {
      color: $grey;
      max-width: 46rem;
      margin: 0 auto;
    }
  }

  .hiring-content {
    @include side-margin;
    max-width: 46rem;
    padding: 4rem 0;
    background-color: $white;

    .container {
      max-width: 47rem;
      @include side-padding;
      margin: 0 auto;
    }

    h2 {
      text-align: center;
      font-size: 32px;
      color: $dark-green;
      margin-bottom: 2rem;
    }
  }

  .hiring-job-links {
    margin-top: 2rem;

    a {
      width: 100%;
      color: $black;
      padding: 1.5rem;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: $white;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      font-weight: 500;

      @include until(568px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .hiring-job-type {
        color: $grey;
      }

      &.active-link {
        background: $green;
        color: $white;

        .hiring-job-type {
          color: $white;
        }
      }

      &:hover {
        background: $green;
        color: $white;

        .hiring-job-type {
          color: $white;
        }
      }
    }
  }

  .hiring-job-content {
    margin-top: 3rem;

    h3 {
      color: $dark-green;
      font-size: 28px;
      margin-bottom: 1rem;
    }

    h4 {
      color: $dark-green;
      font-size: 20px;
      margin: 2rem 0 1rem;
    }

    p {
      margin-bottom: 1rem;
      color: $grey;
    }

    a {
      color: $blue;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      list-style-type: disc;
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;

      li {
        color: $grey;
        margin-bottom: 0.5rem;
      }
    }
  }
}
