// https is broken
.https-is-broken {
  display: flex;
  margin-top: -13rem;
  margin-bottom: 5rem;
  @include side-margin;
  
  @media only screen and (max-width: 40rem) {
    margin-top: -29vw;
  }

  h2 {
    margin-top: 1.4rem;
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .container {
    width: min(705px, 100%); // 705px here is the intrinsic width of the image.
    margin: 0 auto;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

// what we do
.what-we-do {
  padding: 100px 0;
  background-color: $white;
  text-align: center;
  width: 100%;

  .container {
    max-width: 74rem;

    @include until (76rem) {
      @include side-margin;
    }
  }

  h2 {
    margin-bottom: 50px;
  }
  .half {
    text-align: left;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 3.5rem;

    @include from (76rem) {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    @media only screen and (max-width: 800px) {
      grid-auto-flow: row;
    }

    h3 {
      color: $dark-green;
      font-size: 32px;
      margin-bottom: 12px;
    }
    h4 {
      margin-top: 40px;
      font-size: 1.1em;
      font-family: "proxima_novabold";
    }
  }

  .blog-post-link {
    color: $dark-green;
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    font-family: "proxima_novaregular";
    margin-top: 20px;

    &:hover { color: $blue; }

    &__text {
      display: inline-flex;
      align-self: stretch;
      align-items: center;
    }
  }
  .button {
    font-size: .9em;
    text-align: center;
    position: relative;
    display: block;
    max-width: 80px;
    padding: 11px;
    border-radius: 6px;
    background-color: $white;
    color: $blue;
    margin-top: 30px;
    border: 1px solid $blue;
  }
  .button:hover {
    background-color: $blue;
    color: $white;
  }
}

.other-project-list {
  display: flex;
  gap: 1.875rem;
  justify-content: center;
  margin-bottom: 7.5rem;
  text-align: left;
  flex-wrap: wrap;
  margin: 0 auto 7.5rem auto;

  h3 {
    font-family: 'proxima_novabold';
    font-size: 1.5rem;
    font-weight: bold;
    color: #141414;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: 800px) {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.project-list {
  max-width: 370px;
  @media only screen and (min-width: 800px) {
    width: min-content;
  }
}
