body,
html {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  min-height: 100%;
  font-family: 'proxima_novaregular', helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  text-align: left;
  color: $black;
  background-color: $light-grey;
  font-weight: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-size: 16px;

  ::selection {
    color: $white;
    background-color: $grey;
  }
  ::-moz-selection {
    color: $white;
    background-color: $grey;
  }

  a {
    text-decoration: none;
    @include transition(all, .4s, ease);
    color: $black;

    &:hover {
      @include transition(all, .15s, ease);
      text-decoration: none;
    }
  }
}

p {
  color: $grey;
  line-height: 20px;
}

section {
  position: relative;
  display: block;
  width: 100%;
}
