@use "variables" as *;

.page-content-heading {
  font-size: 34px;
  color: $dark-green;
  margin-bottom: 30px;
}

.page-section-wrapper {
  padding: 80px 0;
	background-color: $white;
	@include side-padding;
}

.has-deep-box-shadow {
  box-shadow: $drop-shadow_deep;
}

.has-medium-box-shadow {
  box-shadow: $drop-shadow_medium;
}

.has-shallow-box-shadow {
  box-shadow: $drop-shadow_shallow;
}
