@font-face {
  font-family: 'proxima_novaitalic';
  src: url('/includes/fonts/ProximaNova-RegularIt-webfont.eot');
  src: url('/includes/fonts/ProximaNova-RegularIt-webfont.eot?#iefix') format('embedded-opentype'),
  url('/includes/fonts/ProximaNova-RegularIt-webfont.woff2') format('woff2'),
  url('/includes/fonts/ProximaNova-RegularIt-webfont.woff') format('woff'),
  url('/includes/fonts/ProximaNova-RegularIt-webfont.ttf') format('truetype'),
  url('/includes/fonts/ProximaNova-RegularIt-webfont.svg#proxima_novaitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novaregular';
  src: url('/includes/fonts/ProximaNova-Regular-webfont.eot');
  src: url('/includes/fonts/ProximaNova-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/includes/fonts/ProximaNova-Regular-webfont.woff2') format('woff2'),
  url('/includes/fonts/ProximaNova-Regular-webfont.woff') format('woff'),
  url('/includes/fonts/ProximaNova-Regular-webfont.ttf') format('truetype'),
  url('/includes/fonts/ProximaNova-Regular-webfont.svg#proxima_novaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novalight';
  src: url('/includes/fonts/ProximaNova-Light-webfont.eot');
  src: url('/includes/fonts/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/includes/fonts/ProximaNova-Light-webfont.woff2') format('woff2'),
  url('/includes/fonts/ProximaNova-Light-webfont.woff') format('woff'),
  url('/includes/fonts/ProximaNova-Light-webfont.ttf') format('truetype'),
  url('/includes/fonts/ProximaNova-Light-webfont.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novathin';
  src: url('/includes/fonts/ProximaNova-Thin-webfont.eot');
  src: url('/includes/fonts/ProximaNova-Thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('/includes/fonts/ProximaNova-Thin-webfont.woff2') format('woff2'),
  url('/includes/fonts/ProximaNova-Thin-webfont.woff') format('woff'),
  url('/includes/fonts/ProximaNova-Thin-webfont.ttf') format('truetype'),
  url('/includes/fonts/ProximaNova-Thin-webfont.svg#proxima_novathin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novabold';
  src: url('/includes/fonts/ProximaNova-Bold-webfont.eot');
  src: url('/includes/fonts/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/includes/fonts/ProximaNova-Bold-webfont.woff2') format('woff2'),
  url('/includes/fonts/ProximaNova-Bold-webfont.woff') format('woff'),
  url('/includes/fonts/ProximaNova-Bold-webfont.ttf') format('truetype'),
  url('/includes/fonts/ProximaNova-Bold-webfont.svg#proxima_novabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

b,
strong {
  font-family: "proxima_novabold";
}

i {
  font-family: "proxima_novaitalic";
  font-style: italic;
}

h1 {
  font-family: "proxima_novathin";
  font-size: 48px;
  font-weight: lighter;
  line-height: 1.25;
  span {
    color: $black;
  }
}

h2 {
  font-family: "proxima_novathin";
  font-size: 38px;
  font-weight: lighter;
  line-height: 1.25;
  color: $grey;
}

h3 {
  font-family: "proxima_novathin";
  font-size: 1.25em;
  font-weight: lighter;
  line-height: 1.25;
  color: $white;
}
