.dpki {
  .header {
    padding: 60px 0;
    background-color: $green;
    h1 {
      font-size: 40px;
    }
    h3 {
      font-size: 1.1em;
    }
  }

  .dpki {
    padding: 80px 0;
    background-color: $white;

    h2 {
      text-align: center;
      font-size: 44px;
      color: $dark-green;
      margin-bottom: 30px;
      span {
        color: #9a9a9a;
        font-family: "proxima_novaregular";
        font-size: 20px;
      }
    }

    p {
      text-align: center;
      margin-top: -20px;
      color: $grey;
    }

    .dpki-embed-container {
      max-width: 700px;
    }

    .dpki-embed-video {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
    }
  }
}
