@import 'compass/reset';

@import 'variables';

@font-face {
  font-family: 'proxima_novaitalic';
  src: url('/includes/fonts/ProximaNova-RegularIt-webfont.eot');
  src: url('/includes/fonts/ProximaNova-RegularIt-webfont.eot?#iefix') format('embedded-opentype'),
  url('/includes/fonts/ProximaNova-RegularIt-webfont.woff2') format('woff2'),
  url('/includes/fonts/ProximaNova-RegularIt-webfont.woff') format('woff'),
  url('/includes/fonts/ProximaNova-RegularIt-webfont.ttf') format('truetype'),
  url('/includes/fonts/ProximaNova-RegularIt-webfont.svg#proxima_novaitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'proxima_novaregular';
  src: url('/includes/fonts/ProximaNova-Regular-webfont.eot');
  src: url('/includes/fonts/ProximaNova-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/includes/fonts/ProximaNova-Regular-webfont.woff2') format('woff2'),
  url('/includes/fonts/ProximaNova-Regular-webfont.woff') format('woff'),
  url('/includes/fonts/ProximaNova-Regular-webfont.ttf') format('truetype'),
  url('/includes/fonts/ProximaNova-Regular-webfont.svg#proxima_novaregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'proxima_novalight';
  src: url('/includes/fonts/ProximaNova-Light-webfont.eot');
  src: url('/includes/fonts/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/includes/fonts/ProximaNova-Light-webfont.woff2') format('woff2'),
  url('/includes/fonts/ProximaNova-Light-webfont.woff') format('woff'),
  url('/includes/fonts/ProximaNova-Light-webfont.ttf') format('truetype'),
  url('/includes/fonts/ProximaNova-Light-webfont.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'proxima_novathin';
  src: url('/includes/fonts/ProximaNova-Thin-webfont.eot');
  src: url('/includes/fonts/ProximaNova-Thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('/includes/fonts/ProximaNova-Thin-webfont.woff2') format('woff2'),
  url('/includes/fonts/ProximaNova-Thin-webfont.woff') format('woff'),
  url('/includes/fonts/ProximaNova-Thin-webfont.ttf') format('truetype'),
  url('/includes/fonts/ProximaNova-Thin-webfont.svg#proxima_novathin') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'proxima_novabold';
  src: url('/includes/fonts/ProximaNova-Bold-webfont.eot');
  src: url('/includes/fonts/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/includes/fonts/ProximaNova-Bold-webfont.woff2') format('woff2'),
  url('/includes/fonts/ProximaNova-Bold-webfont.woff') format('woff'),
  url('/includes/fonts/ProximaNova-Bold-webfont.ttf') format('truetype'),
  url('/includes/fonts/ProximaNova-Bold-webfont.svg#proxima_novabold') format('svg');
  font-weight: normal;
  font-style: normal;

}

body, html {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  min-height: 100%;
  font-family: 'proxima_novaregular', helvetica, sans-serif;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  text-align: left;
  color: $black;
  background-color: $light-grey;
  font-weight: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;

  ::selection {
    color: $white;
    background-color: $grey;
  }
  ::-moz-selection {
    color: $white;
    background-color: $grey;
  }

  a {
    text-decoration: none;
    @include transition(all, .4s, ease);
    color: $black;

    &:hover {
      @include transition(all, .15s, ease);
      text-decoration: none;
    }
  }
}

.wf-loading {
  visibility: hidden;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

b, strong {
  font-family: "proxima_novabold";
}
i {
  font-family: "proxima_novaitalic";
  font-style: italic;
}

h1 {
  font-family: "proxima_novathin";
  font-size: 48px;
  font-weight: lighter;
  line-height: 1.25;
  span {
    color: $black;
  }
}

h2 {
  font-family: "proxima_novathin";
  font-size: 38px;
  font-weight: lighter;
  line-height: 1.25;
  color: $grey;
}
h3 {
  font-family: "proxima_novathin";
  font-size: 1.25em;
  font-weight: lighter;
  line-height: 1.25;
  color: $white;
}
p {
  color: $grey;
  line-height: 20px;
}
section {
  position: relative;
  display: block;
  width: 100%;
}
.container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 74rem;

  @media only screen and (max-width: 74rem) {
    width: auto;
  }

  a{
    color: $blue;
  }
  a:hover{
    text-decoration: underline;
  }

  ul{
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    li{
      color: $grey;
      list-style: disc;
      position: relative;
      display: list-item;
      margin-bottom: 10px;
      a:hover{
        text-decoration: underline;
      }
    }
  }
}
.green {
  @include transition(all, .4s, ease);
  color: $green;
  &:hover {
    @include transition(all, .15s, ease);
  }
}
.addr {
  background-color: #9a9a9a;
  color: #f5f5f5;
  padding: 0.2em 0.3em;
  border-radius: 0.3em;
  max-width: 100%;
  display: inline-block;
  word-wrap: break-word;
}
.tt {
  font-family: "Courier", monospace;
}



// header
.header {
  background-color: $green;
  padding-top: 100px;
  padding-bottom: 300px;
  h1 {
    color: $white;
  }
  .home-container {
    max-width: 800px;
    text-align: center;
  }
}
@media only screen and (max-width: 568px) {
  .header {
    padding-bottom: 44vw;
  }
}
@media only screen and (max-width: 380px) {
  .header {
    // padding-bottom: 230px;
  }
}

// video
.video-container {
  position: relative;
  margin: 0 auto;
  max-width: 704px;
  width: 100%;
  bottom: 200px;
  z-index: 99999999;
  overflow: hidden;
  .video-wrapper {
    position: relative;
    display: block;
    height: 0;
    border: none;
    padding-bottom: 56.25%; // 396/704
    overflow: hidden;

    // these are for when we're using YouTube embed
    & iframe,
    & object,
    & embed,
    // and this one is for video-js
    & > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  iframe:not([seamless]) {
    border: none;
  }
  .placeholder {
    position: relative;
    margin: 0 auto;
    max-width: 700px;
    img {
      position: relative;
      display: block;
      max-width: 700px;
      width: 100%;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
@media only screen and (max-width: 380px) {
  .video-container {
    bottom: 160px;
  }
}

// https is broken
.https-is-broken {
  display: flex;
  margin: -13rem auto 5rem auto;
  width: min-content;
  max-width: calc(100% - 2rem);
  
  @media only screen and (max-width: 40rem) {
    margin-top: -29vw;
  }

  h2 {
    margin-top: 1.4rem;
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .container {
    width: auto;
  }

  img {
    margin: 0 auto;
    @media only screen and (max-width: 74rem) {
      max-width: calc(100vw - 2rem);
      height: auto;
    }
  }
}

// what we do
.what-we-do {
  padding: 100px 0;
  background-color: $white;
  text-align: center;

  h2 {
    margin-bottom: 50px;
  }
  .half {
    text-align: left;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 3.5rem;
    max-width: calc(100% - 2rem);
    margin: 0 auto;

    @media only screen and (max-width: 800px) {
      grid-auto-flow: row;
    }

    h3 {
      color: $dark-green;
      font-size: 32px;
      margin-bottom: 12px;
    }
    h4 {
      margin-top: 40px;
      font-size: 1.1em;
      font-family: "proxima_novabold";
    }
  }

  .blog-post-link {
    color: $dark-green;
    position: relative;
    display: block;
    margin-bottom: 10px;
    font-family: "proxima_novaregular";
    margin-top: 20px;
  
    img {
      position: relative;
      display: inline-block;
      max-width: 25px;
      margin-right: 10px;
      vertical-align: middle;
    }
    &:hover { color: $blue; }
  }
  .button {
    font-size: .9em;
    text-align: center;
    position: relative;
    display: block;
    max-width: 80px;
    padding: 11px;
    border-radius: 6px;
    background-color: $white;
    color: $blue;
    margin-top: 30px;
    border: 1px solid $blue;
  }
  .button:hover {
    background-color: $blue;
    color: $white;
  }
}

.other-project-list {
  display: flex;
  gap: 1.875rem;
  justify-content: center;
  margin-bottom: 7.5rem;
  text-align: left;
  flex-wrap: wrap;
  margin: 0 auto 7.5rem auto;

  h3 {
    font-family: 'proxima_novabold';
    font-size: 1.5rem;
    font-weight: bold;
    color: #141414;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: 800px) {
    max-width: calc(100% - 2rem);
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.project-list {
  max-width: 370px;
  @media only screen and (min-width: 800px) {
    width: min-content;
  }
}

// footer
.footer {
  text-align: center;
  padding: 100px 0;
  ul {
    li {
      position: relative;
      display: inline-block;
      margin: 0 20px;
      a {

      }
      a:hover {
        color: $blue;
      }
    }
    @media only screen and (max-width: 568px) {
      li {
        margin-bottom: 20px;
      }
    }
  }
  .social-icons {
    margin-top: 35px;
    li {
      font-size: 18px;
    }
  }

  .form-container {
    position: relative;
    display: block;
    margin-top: 60px;
    p {
      color: #aeaeae;
      margin-bottom: 14px;
      font-size: .9em;
    }
    form {
      input {
        @include transition(all, .3s, ease);
        vertical-align: bottom;
        -webkit-appearance: none;
        -webkit-font-smoothing: antialiased;
        font-family: "proxima_novaregular";
        background-color: $light-grey;
        max-width: 300px;
        width: 100%;
        height: 50px;
        font-weight: normal;
        position: relative;
        border-radius: 0;
        font-size: 14px;
        text-align: left;
        position: relative;
        display: inline-block;
        outline: none;
        padding: 3px 20px;
        margin: 5px 1px 3px 0px;
        border: 1px solid $black;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;
      }
      input:hover, input:focus {
        background-color: $white;
      }

      .submit {
        font-family: "proxima_novaregular";
        color: $blue;
        position: relative;
        width: 70px;
        max-height: 50px;
        height: 50px;
        padding-left: 5px;
        right: 7px;
        padding-right: 5px;
        margin-bottom: 3px;
        text-align: center;
        -webkit-appearance: none;
        @include transition(all, .3s, ease);
      }
      .submit:hover, .submit:focus, .submit:active {
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
        background-color: $blue;
        color: $white;
        @include transition(all, .3s, ease);
      }
      @media only screen and (max-width: 568px) {
        input {
          max-width: 190px;
        }
      }
    }
    form:hover {
      input {
        border-color: $blue;
      }
    }
  }
}

@import "team";
@import "donate";
@import "browser-extension";
@import "finances";
