#facebook{
  color: #3b5998;
  font-size: 1.2em;
  font-weight: 400;
}
#gmail{
  color: rgb(201, 44, 25);
  font-size: 1.2em;
  font-weight: 400;
}
.slideshow{
  position: relative;
  padding: 20px 0;
  margin: 0 auto;
  overflow: visible;
  max-width: 503px;
  width: 100%;
  height: 280px;
}
.slideshow > div
{
  position: absolute;
  padding: 0;
  margin: 0 auto;
  overflow: visible;
  max-width: 503px;
  width: 100%;
  height: 350px;
}
.slideshow img
{
  position: absolute;
  top:10px;
  /*display: none;*/
  visibility: hidden;
  float: left;
  max-width: 503px !important;
  width: 100%;
  display: inline-block;
}

.slideshow span {
  position: absolute;
  visibility: hidden;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  margin-top: .905em;/*hack - SLIDESHOW TEXT*/
  width: 100px; /* has to be the same as #service */
}


#serviceTagline span {
  position: relative;
  margin: 0 auto;
  width: 100px;
  margin-top: 1.1em;
}
#service {
  display: inline-block;
  width: 100px;
  height: 20px;
  margin: 0 5px;
  top: 0;
}

#subtitle{
  margin-top: -20px;
  line-height: 1.8em;
}


.green{
  color: #27ae60;
}


@media screen and (max-width: 55em) {

  .container > header h1,
  .container > header nav {
    float: none;
  }

  .container > header > span,
  .container > header h1 {
    text-align: center;
  }

  .container > header nav {
    margin: 0 auto;
  }

  .container > header > span {
    text-indent: 30px;
  }
}

.section_color_top{
  background-color: #ffffff;
}
.section_color_middle{
  background-color: #f5f5f5;
}
#section_color_last{
  background-color: #ffffff;
}

img.features {
  box-shadow: 2px 2px 4px #888888;
  padding: 0;
  margin-bottom: 2.5em;
}

.cbp-so-scroller {
  overflow: visible; /* <! GREG CHANGED THIS TO FIX SLIDE SHOW! */
}

.cbp-so-section{
  overflow: hidden;
}
.cbp-so-section:first-child {
  margin-bottom: 5em;
  padding-bottom: 1em;
}



/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
  content: " ";
  display: table;
}

.cbp-so-section:after {
  clear: both;
}

/* Text styling */
.cbp-so-section h2 {
  font-size: 4em;
  font-weight: 300;
  line-height: 1;
  margin-top: 0;
}
.cbp-so-section li {
  margin-bottom: 10px;
}
.cbp-so-section li:last-child {
  margin-bottom: inherit;
}
.cbp-so-section p, .cbp-so-section li {
  font-size: 1.2em;
  font-weight: 300;
}

/* Sides */
.cbp-so-side {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  // padding-right: 15px;
  // padding-left: 15px;
  overflow: visible;   /* <! GREG CHANGED THIS TO FIX SLIDE SHOW! */
  padding-top: 0;
  padding-bottom: 60px;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -moz-transition: -moz-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
}
.cbp-so-side-left {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 40px;
  overflow: hidden;
  margin-top: -6em;
  padding-bottom: 3em;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -moz-transition: -moz-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
}
.cbp-so-side-right {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 15px;
  overflow: hidden;
  margin-top: -6em;
  padding-bottom: 3em;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -moz-transition: -moz-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
}
.center{
  margin-bottom: -5em;
}

.left{
  width: 50%;
  float: left;
  text-align: right;
  padding-right: 2em;
}

.right{
  width: 50%;
  float: right;
  text-align: left;
  padding-left: 2em;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
  content: " ";
  display: table;
}

.cbp-so-side:after {
  clear: both;
}

.cbp-so-side-center {
  text-align: center;
}

.cbp-so-side-center img {
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
  opacity: 0;
}

.cbp-so-init .cbp-so-side-center {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
.cbp-so-init .cbp-so-side-left {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
.cbp-so-init .cbp-so-side-right {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}


.sectiongs {
  clear: both;
  padding: 0;
  margin: 0;
  margin-left: -0.5em;
}

.colgs {
  display: block;
  float:left;
  width: 100%;
  box-sizing: border-box; /* Supported by IE 8+. If IE 7 and below support is required see http://html5please.com/#box-sizing */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-clip: padding-box; /* This allows column elements to have background colour without it bleeding into the gutter. Supported by IE 9+. If support for IE 8 and below is required, a content div with background colour should be placed inside the column */
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  margin: 0 0 0.25em 0;
  border-left: 2em solid transparent;
}

.group:before,
.group:after {
  content:"";
  display:table;
}

.group:after {
  clear:both;
}

@media screen and (max-width: 580px){
  .slideshow{
    height: 280px;
  }
}

@media screen and (max-width: 538px){
.slideshow span {

  padding-left: 52px;
}

}
@media screen and (max-width: 509px){
.slideshow span {

  padding-left: 2px;
}

}


  @media screen and (max-width: 500px) {


.slideshow{
  height: 220px;
}


.slideshow span {
  position: absolute;
  visibility: hidden;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 88px; /* has to be the same as #service */
    margin-top: .98em;/*iPhone hack - SLIDESHOW TEXT*/
    padding-left: 10px;
}
#serviceTagline span {
  position: relative;
  margin: 0 auto;
  width: 88px;
}
#service {
  display: inline-block;
  width: 88px;
  height: 20px;
  margin: 0 5px;
}

#subtitle{
  margin-top: -20px;
  line-height: 1.8em;
}



}

@media screen and (max-width: 449px){
.slideshow span {

  padding-left: 30px;
}

}

@media screen and (max-width: 350px){
.slideshow{
  height: 150px;
}
.slideshow span {

    padding-left: 0;
}

}
#serviceTaglineMobile{
  display: none;
}

// fix for now
@media screen and (max-width: 580px){
  .slideshow span{
      display: none;
    }
  #serviceTagline{
    display: none;
  }
  #serviceTagline span{
    display: none;
  }
  #serviceTaglineMobile{
    display: block;
    position: relative;
    top: 20px;
  }

}
