---
import Layout from '@/layouts/BaseLayout.astro'
import Header from '@/components/base/Header.astro'
---

<Layout title='Donate | okTurtles' bodyClass='donate'>
  <Header />

  <!-- donate -->
	<section class="donate-content" style="padding-bottom: 0">
		<div class="container">
			<h2>Donate to the okTurtles Foundation</h2>

			<p><b>Support the okTurtles Foundation's work on:</b></p>
			<ul>
				<li>Educational content</li>
				<li>Research</li>
				<li>Tools for <b>real</b>&nbsp;<a href="https://youtu.be/FoJ5WE2E5ac">information and financial</a> security and decentralization</li>
			</ul>

		  <p class="spacer">Credit/debit card</p>
			<div class="flex-buttons">
				<a class="tilt" href="https://donorbox.org/okturtles-donation">Donate with Donorbox</a>
				<a class="tilt github" href="https://github.com/sponsors/okTurtles">Sponsor on GitHub</a>	
			</div>

			<p class="top-spacer">Direct Cryptocurrency Donation</p>
			<ul style="padding: 20px 20px 20px 0px !important">
				<li><span class="tt">BTC:</span>&nbsp;<span class="addr">39ekronaSx3pBUuftNYfuwoWbGipnFrBv6</span></li>
				<li><span class="tt">ETH:</span>&nbsp;<span class="addr">0x62992467ecd54d45fe5a028b4ccd082486ccc9a8</span></li>
        <li><span class="tt">XMR:</span>&nbsp;<span class="addr">899WAZkTAHv71bxeVu3coHcyCynEpbKWvhSfAxpRu41qXCfrMPz9cae7jzMS7mVAFb63mVxCm64NdVSFZ7Aey1nvE1Dgb7E</span></li>
				<li><span class="tt">ZEC:</span>&nbsp;<span class="addr">t1Vk6YJK4g7YYPPD8ENMoHBeNDqoQ67mCHx</span></li>
			</ul>

			<center>
        <p style="margin: -20px 0 10px 0px; color:black">
  				Afterward, <b><a href="mailto:hi@okturtles.org">contact us</a></b> so we can thank you and send you a receipt for your records and tax purposes &mdash; and let us know if you'd like us to publicly thank you for your donation!
  			</p>
      </center>

			<p class="top-spacer">Need a different option? <a href="mailto:hi@okturtles.org">Let us know.</a></p>
			<!-- <p class="top-spacer">Options for which we do not have a widget (yet)</p>
			<ul>
				<li>ETH: <span class="tt">0x71a690ff6b4ff7f57b8bd86cfcfaff18e97935ee</span></li>
				<li>Need a different option? <a href="mailto:hi@okturtles.org">Let us know.</a></li>
			</ul>
			<p style="margin: -20px 0 10px 40px">
				<i>Afterward, <a href="mailto:hi@okturtles.org">contact us</a> so we can thank you.</i>
			</p> -->

			<p class="top-spacer">
		    The okTurtles Foundation is a 501(c)(3) non-profit corporation, and our U.S. federal tax ID number is 47-1188610.
		  </p>
		</div>
	</section>

  <section class="donate-content">
    <div class="container">
      <h2>Finances</h2>
      <p>
        View <a href="/finances/">our finances by fiscal-year.</a>
      </p>
    </div>
  </section>
</Layout>

<style lang="scss">
@use "../styles/variables" as *;

.donate-content {
	padding: 80px 0;
	background-color: $white;

	.container {
		@include side-padding;
	}

	h2 {
		font-size: 34px;
		color: $dark-green;
		margin-bottom: 30px;
	}

	.spacer {
		margin-bottom: 10px;
	}

	.top-spacer {
		margin-top: 30px;
	}

	.bitpay-donate {
		margin-bottom: 30px;

		input,
		select {
			vertical-align: bottom;
			-webkit-appearance: none;
			-webkit-font-smoothing: antialiased;
			font-family: "proxima_novaregular";
			background-color: $white;
			border:none;
			max-width: 250px;
			width: 100%;
			height: 50px;
			font-weight: normal;
			position: relative;
			border-radius: 0;
			font-size: 14px;
			text-align: left;
			position: relative;
			display: inline-block;
			outline: none;
			padding: 3px 20px;
				margin: 5px 1px 3px 0px;
				border: 1px solid $black;
			@include transition(all, .3s, ease);
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;
		}

		.bitpay-donate-field-price {
			max-width: 150px;
		}

		.bitpay-donate-button {
			border: none;
			width: auto;
			padding: 0;
		}

		select {
			max-width: 110px;
			text-align: center;

			&:hover,
			&:focus {
				background-color: $blue;
				border-color: $blue;
				color: $white;
				cursor: pointer;
			}
		}

		option {
			text-align: center;
		}

		input {
			@include until (568px) {
				max-width: 190px;
			}

			&:hover,
			&:focus {
				background-color: $white;
			}

			&:focus {
				border-color: $blue;
			}
		}

		.submit {
			font-family: "proxima_novaregular";
			color: $blue;
			position: relative;
			width: 70px;
			max-height: 50px;
			height: 50px;
			padding-left: 5px;
			right: 6px;
			padding-right: 5px;
			margin-bottom: 3px;
			text-align: center;
			-webkit-appearance: none;
			@include transition(all, .3s, ease);

			&:hover,
			&:focus,
			&:active {
				-webkit-font-smoothing: antialiased;
				cursor: pointer;
				background-color: $blue;
				color: $white;
				@include transition(all, .3s, ease);
			}
		}
	}

	.flex-buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.tilt {
		position: relative;
		display: block;
		width: 160px;
		padding: 14px 20px;
		font-size: 16px;
		border-radius: 5px;
		background-color: $blue;
		color: $white;
		text-align: center;
		@include transition(all, .3s, ease);

		&:hover {
			cursor: pointer;
			background-color: #105EAA;
		}

		&.github {
			background-color: #343434;
		}

		&.github:hover {
			cursor: pointer;
			background-color: black;
		}
	}
}
</style>