---
import Layout from '@/layouts/BaseLayout.astro'
import Header from '@/components/base/Header.astro'
import '@/styles/pages/_team.scss'
---

<Layout title='Team | okTurtles' bodyClass='team'>
  <Header />

  <!-- team -->
	<section class="meet-the-team" style="padding-bottom: 0">
		<div class="container">
			<h2>Contact Info</h2>
			<ul style="margin-bottom: 0">
				<li><b>Email:</b>&nbsp;<a href="mailto:hi@okturtles.org">hi@okturtles.org</a></li>
				<li><b>Fediverse:</b>&nbsp;<a href="https://crib.social/okturtles">@okTurtles@crib.social</a></li>
				<li><b>Twitter/X:</b>&nbsp;<a href="https://twitter.com/okTurtles">@okTurtles</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</section>

	<!-- team -->
	<section class="meet-the-team">
		<div class="container">
			<h2>
				Meet the Team
			</h2>
			<div class="members">
				<!-- member -->
				<div class="member">
					<div class="img">
						<img src="/images/team/greg.png" alt="Greg Slepak">
					</div>
					<div class="content">
						<h4>
							Greg Slepak <span>(board member)</span>
						</h4>
						<p>
							Greg <a href="https://www.youtube.com/watch?v=CMNry4PE93Y" target="_blank">likes turtles</a>, especially the okay kind. He also likes software, security, and nonsense.
							You can find him on the <a href="https://crib.social/taoeffect">Fediverse</a> and <a href="https://twitter.com/taoeffect">twitter</a>.
						</p>
					</div>
				</div>
				<div class="clearfix"></div>

				<!-- member -->
				<div class="member">
					<div class="img">
						<img src="/images/team/andrea.jpg" alt="Andrea Devers">
					</div>
					<div class="content">
						<h4>
							Andrea Devers <span>(board member)</span>
						</h4>
						<p>
							Andrea is acting secretary of the okTurtles Foundation, and also an aspiring software developer with interests in finding solutions to social problems.
						</p>
					</div>
				</div>
				<div class="clearfix"></div>

				<!-- member -->
				<div class="member">
					<div class="img">
						<img src="/images/team/simon.jpg" alt="Simon Grondin">
					</div>
					<div class="content">
						<h4>
							Simon Grondin <span>(board member)</span>
						</h4>
						<p>
							Simon is a backend dev interested in networking, concurrent and parallel programming. He joined the DNSChain project after it became clear that his part-time project, <a href="http://unblock.us.org/" target="_blank">Unblock.us.org</a> was a perfect fit for DNSChain.
						</p>
					</div>
				</div>
				<div class="clearfix"></div>

				<!-- member -->
				<div class="member">
					<div class="img">
						<img src="/images/team/will.jpg" alt="Will Stanley">
					</div>
					<div class="content">
						<h4>
							Will Stanley
						</h4>
						<p>
							<a href="//willstanley.co">Will Stanley</a> is a web designer and developer. He makes sure the website looks good and works well!
						</p>
					</div>
				</div>
				<div class="clearfix"></div>

				<!-- member -->
				<div class="member">
					<div class="img">
						<img src="/images/team/john.png" alt="John Light">
					</div>
					<div class="content">
						<h4>
							John Light
						</h4>
						<p>
							John is working with the okTurtles Foundation on fundraising efforts, including grant writing and crowdfunding. He can be reached through any of the methods listed on his  <a href="https://onename.io/lightcoin" target="_blank">OpenName profile</a>.
						</p>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</section>

	<section id="memory-of">
		<div class="container">
			<h2>
				In Memory Of
			</h2>
			<div class="half half-left">
				<h3>
					Aaron Swartz
				</h3>
				<img src="/images/team/memory-of/aswartz.jpg" alt="">
				<p>
					<a href="https://en.wikipedia.org/wiki/Aaron_Swartz" target="_blank">Aaron Swartz</a> was a humanitarian genius who did more for mankind in his brief 26 years on this planet than most accomplish in their entire lifetime. He was the principal <a href="http://www.aaronsw.com/weblog/squarezooko" target="_blank">source of inspiration</a> for this project.
				</p>
			</div>
			<div class="half">
				<h3>
					Jonathan James
				</h3>
				<img src="/images/team/memory-of/jonjames.jpg" alt="">
				<p>
					<a href="https://en.wikipedia.org/wiki/Jonathan_James" target="_blank">Jonathan James</a> was a friend from whom Greg first learned what a <a href="https://en.wikipedia.org/wiki/Man-in-the-middle_attack" target="_blank">MITM</a> attack was. Of note, both Jonathan and Aaron appear to have been pursued by <a href="http://www.buzzfeed.com/justinesharrock/internet-activists-prosecutor-linked-to-another-h" target="_blank">the same</a> <a href="http://www.dailymail.co.uk/news/article-2262831/Revealed-Aaron-Swartz-prosecutor-drove-hacker-suicide-2008-named-cyber-crime-case.html" target="_blank">federal prosecutor</a>.
				</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</section>
</Layout>
