---
import '../../styles/main.scss';

const { title } = Astro.props;
---

<meta charset="UTF-8">
<meta content="utf-8" http-equiv="encoding">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="/favicon.ico?v=2" />
<title>{title}</title>

<!-- Load resources -->
<link href="/fonts/fontawesome-5.3.1/css/all.min.css" rel="stylesheet">
<script src="/third-party/jquery.min.js" is:inline></script>
