<section class="footer">
  <ul>
    <li>
      <a href="/">
        Home
      </a>
    </li>
    <!-- Explanation for these commented out links: https://github.com/okTurtles/okturtles.com/pull/64 -->

    <!-- <li>
      <a href="https://groupincome.org">
        Group Income
      </a>
    </li> -->
    <!-- <li>
      <a href="https://shelterprotocol.net">
        Shelter protocol
      </a>
    </li> -->
    <li>
      <a href="//blog.okturtles.org">
        Blog
      </a>
    </li>
    <li>
      <a href="/donate">
        <i class="fas fa-heart" style="color:darkred"></i> Donate
      </a>
    </li>
    <li>
      <a href="/team">
        Team
      </a>
    </li>
  </ul>

  <div class="clearfix"></div>

  <ul class="social-icons">
    <li class="twitter-link">
      <a href="https://twitter.com/okTurtles" target="_blank">
        <svg width="20" height="16" viewBox="0 0 20 16">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.91836 11.0517L9.96033 11.7437C10.0862 13.5374 8.98106 15.1757 7.23236 15.8113C6.58884 16.0373 5.49765 16.0655 4.78418 15.8678C4.50439 15.783 3.97278 15.5006 3.59506 15.2463L2.90957 14.7803L2.15414 15.0204C1.73445 15.1475 1.17486 15.3593 0.923052 15.5006C0.685228 15.6277 0.475386 15.6983 0.475386 15.6559C0.475386 15.4158 0.993 14.5967 1.42668 14.1447C2.01424 13.5092 1.84637 13.4527 0.65725 13.8764C-0.0562189 14.1165 -0.0702074 14.1165 0.0696871 13.8481C0.153626 13.7069 0.587301 13.2126 1.04896 12.7606C1.83237 11.9838 1.87434 11.8991 1.87434 11.2494C1.87434 10.2467 2.34999 8.15641 2.82564 7.01242C3.70698 4.86567 5.59558 2.6483 7.48417 1.53255C10.1422 -0.0351418 13.6816 -0.430596 16.6613 0.487424C17.6546 0.798138 19.3613 1.58905 19.3613 1.73028C19.3613 1.77265 18.8437 1.82914 18.2142 1.84327C16.8992 1.87151 15.5841 2.23872 14.465 2.8884L13.7095 3.34034L14.5769 3.63693C15.808 4.06064 16.9132 5.03515 17.1929 5.95317C17.2769 6.24976 17.2489 6.26388 16.4655 6.26388L15.6541 6.27801L16.3396 6.60284C17.151 7.01242 17.8924 7.70447 18.2562 8.41063C18.522 8.91908 18.8577 10.2043 18.7598 10.3032C18.7318 10.3455 18.438 10.2608 18.1023 10.1478C17.137 9.79472 17.0111 9.87946 17.5707 10.4726C18.6199 11.546 18.9416 13.142 18.438 14.6532L18.2002 15.3311L17.2769 14.4131C15.3883 12.5629 13.1639 11.4613 10.6178 11.1364L9.91836 11.0517ZM6.07975 13.9934L5.33473 13.9934L4.60286 12.9241L3.86661 13.9934L3.12598 13.9934L4.18653 12.4946L3.19171 11.0703L3.93235 11.0703L4.60286 12.0695L5.26461 11.0703L6.01401 11.0703L5.0192 12.4902L6.07975 13.9934Z"></path>
        </svg>
      </a>
    </li>

    <li class="mastodon-link">
      <a href="https://mstdn.io/@okTurtles" target="_blank">
        <svg viewBox="0 0 16 16" width="16" height="16">
          <path d="M 15.659 9.592 C 15.424 10.72 13.553 11.956 11.404 12.195 C 10.283 12.32 9.18 12.434 8.003 12.384 C 6.079 12.302 4.56 11.956 4.56 11.956 C 4.56 12.13 4.572 12.297 4.595 12.452 C 4.845 14.224 6.478 14.33 8.025 14.379 C 9.586 14.429 10.976 14.02 10.976 14.02 L 11.04 15.337 C 11.04 15.337 9.948 15.884 8.003 15.984 C 6.93 16.039 5.598 15.959 4.047 15.576 C 0.683 14.746 0.104 11.4 0.015 8.006 C -0.012 6.998 0.005 6.048 0.005 5.253 C 0.005 1.782 2.443 0.765 2.443 0.765 C 3.672 0.238 5.782 0.017 7.975 0 L 8.029 0 C 10.221 0.017 12.332 0.238 13.561 0.765 C 13.561 0.765 15.999 1.782 15.999 5.253 C 15.999 5.253 16.03 7.814 15.659 9.592 Z M 13.124 5.522 L 13.124 9.725 L 11.339 9.725 L 11.339 5.646 C 11.339 4.786 10.951 4.35 10.175 4.35 C 9.317 4.35 8.887 4.867 8.887 5.891 L 8.887 8.124 L 7.113 8.124 L 7.113 5.891 C 7.113 4.867 6.683 4.35 5.825 4.35 C 5.049 4.35 4.661 4.786 4.661 5.646 L 4.661 9.725 L 2.876 9.725 L 2.876 5.522 C 2.876 4.663 3.111 3.981 3.582 3.476 C 4.067 2.971 4.703 2.712 5.493 2.712 C 6.406 2.712 7.098 3.039 7.555 3.695 L 8 4.39 L 8.445 3.695 C 8.902 3.039 9.594 2.712 10.507 2.712 C 11.297 2.712 11.933 2.971 12.418 3.476 C 12.889 3.981 13.124 4.663 13.124 5.522 Z" style="stroke:none;stroke-miterlimit:10;fill-rule:evenodd;"/>
        </svg>
      </a>
    </li>

    <li>
      <a href="https://github.com/okTurtles" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </li>

    <li>
      <a href="https://www.youtube.com/channel/UC0Ft1M3PjlRlpSBcOBWtG3w" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
    </li>

    <li class="odysee-link">
      <a href="https://odysee.com/@okTurtles" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M11.965 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12 12 12 0 0 0 12-12 12 12 0 0 0-3.209-8.167 7.272 7.272 0 0 1-.799 3.218c-.548.957-2.281 2.77-3.264 3.699a.723.723 0 0 0 .056 1.104c.996.74 2.658 2.151 2.788 3.422.176 1.835 1.6 4.02 1.675 4.159a.67.67 0 0 1-.105.327 12.067 12.067 0 0 1-2.03 1.898 2.435 2.435 0 0 1-.807.126c-1.944-.04-1.526-1.866-1.712-2.905s-.78-3.085-2.716-2.788c0 0 .484 4.243-1.489 5.546s-5.843 2.27-6.55-.408 2.46-2.384 2.684-2.384c.223 0 2.233-.632 1.267-2.53-.967-1.898-2.01-3.5-2.01-3.5a11.37 11.37 0 0 0-2.735 1.285 5.42 5.42 0 0 0-1.061.82c-1.065 1.104-2.19 1.713-2.954 1.358a1.368 1.368 0 0 1-.32-.221A11.926 11.926 0 0 1 .1 13.503c.43-.641 2.082-2.038 3.696-2.906 1.304-.702 2.737-.988 3.118-1.355-.671-2.235-1.882-5.703.832-7.33C9.881.634 12.69-.142 13.77 2.958c1.08 3.1.802 3.796 1.267 3.796.465 0 1.608.223 2.09-1.75.356-1.445.574-2.685 1.379-3.087A12 12 0 0 0 12 0a12 12 0 0 0-.035 0zm-.498 2.125c-.353-.019-.78.05-1.303.224 0 0-1.895.52-1.749 2.53.13 1.777 1.08 2.753 3.053 2.01 1.972-.737 2.31-1.264 1.824-2.753-.364-1.117-.765-1.956-1.825-2.011zm.48.726a.249.249 0 0 1 .183.07 1.58 1.58 0 0 1 .232.346.253.253 0 0 1-.197.37.253.253 0 0 1-.233-.131 1.559 1.559 0 0 0-.148-.232.256.256 0 0 1 0-.353.249.249 0 0 1 .163-.07zm3.529.152a.22.22 0 0 1 .192.103.22.22 0 0 1-.07.305.22.22 0 1 1-.122-.408zM12.609 4.27a.253.253 0 0 1 .227.133 1.5 1.5 0 0 1 .102.982.253.253 0 0 1-.246.205h-.049a.253.253 0 0 1-.2-.295 1.013 1.013 0 0 0-.071-.697.253.253 0 0 1 .237-.328zm-8.035.552a.12.12 0 0 1 .029.003.12.12 0 1 1-.147.091.12.12 0 0 1 .118-.094zm15.77 3.419.273.539.593.12-.539.275-.123.592-.272-.539-.592-.123.538-.272zm-17.767.535a.22.22 0 0 1 .193.104.22.22 0 0 1-.07.304.22.22 0 1 1-.123-.408zm16.004 2.79a.258.258 0 0 1 .062.007.258.258 0 1 1-.31.195.258.258 0 0 1 .248-.202zM4.914 16.115a.17.17 0 0 1 .165.14.17.17 0 0 1-.137.197.17.17 0 1 1-.028-.337zm9.769 4.094a.2.2 0 0 1 .036.004.2.2 0 1 1-.233.15.2.2 0 0 1 .197-.154z"/>
        </svg>
      </a>
    </li>
  </ul>

  <div class="form-container">
    <p>
      Low-volume project newsletter. No Spam.
    </p>

    <!-- old mailchimp form -->
    <!-- <form action="//okturtles.us14.list-manage.com/subscribe/post?u=31a6486277c84776581da4f54&amp;id=08e4421781" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <input type="hidden" name="u" value="31a6486277c84776581da4f54">
        <input type="hidden" name="id" value="08e4421781">
        <!- <input  type="text" value="Enter email for updates" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Enter Email To Get Updates':this.value;"> ->
        <input type="email" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email for updates" value="" required="">
        <!- real people should not fill this in and expect good things - do not remove this or risk form bot signups->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_31a6486277c84776581da4f54_08e4421781" tabindex="-1" value=""></div>
        <input class="submit" type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe">
    </form> -->

    <!-- Begin Mailchimp Signup Form -->
    <form action="https://okturtles.us4.list-manage.com/subscribe/post?u=bacb6eb127dd649ee5a8ff399&amp;id=707996fda6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email for updates" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bacb6eb127dd649ee5a8ff399_707996fda6" tabindex="-1" value=""></div>
      <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="submit">
    </form>

    <!--End mc_embed_signup-->
    <!-- <form action="https://app1.easysendy.com/lists/fm667827609c8/subscribe" method="post" class="validate" accept-charset="utf-8" target="_blank">
      <input type="email" name="EMAIL" class="email" placeholder="Enter email for updates" value="" required />
      <input class="submit" type="submit" value="Send" name="subscribe">
    </form> -->  
  </div>

  <slot />
</section>
