---
import Ribbon from '@/components/Ribbon.astro';
---

<!-- header -->

<Ribbon />

<section class="header--shared">
  <div class="container">
    <a href="/">
      <h1><span>ok</span>Turtles Foundation</h1>
    </a>

    <h3>Supporting beneficial decentralization technologies.</h3>
  </div>
</section>
