html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

.smooth-scrolling { overflow-y: scroll; -webkit-overflow-scrolling: touch; }

@font-face { font-family: 'proxima_novaitalic'; src: url("/includes/fonts/ProximaNova-RegularIt-webfont.eot"); src: url("/includes/fonts/ProximaNova-RegularIt-webfont.eot?#iefix") format("embedded-opentype"), url("/includes/fonts/ProximaNova-RegularIt-webfont.woff2") format("woff2"), url("/includes/fonts/ProximaNova-RegularIt-webfont.woff") format("woff"), url("/includes/fonts/ProximaNova-RegularIt-webfont.ttf") format("truetype"), url("/includes/fonts/ProximaNova-RegularIt-webfont.svg#proxima_novaitalic") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'proxima_novaregular'; src: url("/includes/fonts/ProximaNova-Regular-webfont.eot"); src: url("/includes/fonts/ProximaNova-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/includes/fonts/ProximaNova-Regular-webfont.woff2") format("woff2"), url("/includes/fonts/ProximaNova-Regular-webfont.woff") format("woff"), url("/includes/fonts/ProximaNova-Regular-webfont.ttf") format("truetype"), url("/includes/fonts/ProximaNova-Regular-webfont.svg#proxima_novaregular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'proxima_novalight'; src: url("/includes/fonts/ProximaNova-Light-webfont.eot"); src: url("/includes/fonts/ProximaNova-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/includes/fonts/ProximaNova-Light-webfont.woff2") format("woff2"), url("/includes/fonts/ProximaNova-Light-webfont.woff") format("woff"), url("/includes/fonts/ProximaNova-Light-webfont.ttf") format("truetype"), url("/includes/fonts/ProximaNova-Light-webfont.svg#proxima_novalight") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'proxima_novathin'; src: url("/includes/fonts/ProximaNova-Thin-webfont.eot"); src: url("/includes/fonts/ProximaNova-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("/includes/fonts/ProximaNova-Thin-webfont.woff2") format("woff2"), url("/includes/fonts/ProximaNova-Thin-webfont.woff") format("woff"), url("/includes/fonts/ProximaNova-Thin-webfont.ttf") format("truetype"), url("/includes/fonts/ProximaNova-Thin-webfont.svg#proxima_novathin") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'proxima_novabold'; src: url("/includes/fonts/ProximaNova-Bold-webfont.eot"); src: url("/includes/fonts/ProximaNova-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/includes/fonts/ProximaNova-Bold-webfont.woff2") format("woff2"), url("/includes/fonts/ProximaNova-Bold-webfont.woff") format("woff"), url("/includes/fonts/ProximaNova-Bold-webfont.ttf") format("truetype"), url("/includes/fonts/ProximaNova-Bold-webfont.svg#proxima_novabold") format("svg"); font-weight: normal; font-style: normal; }
body, html { margin: 0; padding: 0; position: relative; width: 100%; min-height: 100%; font-family: 'proxima_novaregular', helvetica, sans-serif; font-size: 100%; -webkit-text-size-adjust: 100%; text-align: left; color: #141414; background-color: #eeeeee; font-weight: normal; -webkit-tap-highlight-color: transparent; -webkit-font-smoothing: antialiased; }
body ::selection, html ::selection { color: #f5f5f5; background-color: #5a5a5a; }
body ::-moz-selection, html ::-moz-selection { color: #f5f5f5; background-color: #5a5a5a; }
body a, html a { text-decoration: none; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transition: all 0.4s ease; transition: all 0.4s ease; color: #141414; }
body a:hover, html a:hover { -webkit-transition: all 0.15s ease; -moz-transition: all 0.15s ease; -ms-transition: all 0.15s ease; transition: all 0.15s ease; text-decoration: none; }

.wf-loading { visibility: hidden; }

.clearfix { display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }

.clearfix { display: block; }

/* close commented backslash hack */
.clearfix::after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

b, strong { font-family: "proxima_novabold"; }

i { font-family: "proxima_novaitalic"; font-style: italic; }

h1 { font-family: "proxima_novathin"; font-size: 48px; font-weight: lighter; line-height: 1.25; }
h1 span { color: #141414; }

h2 { font-family: "proxima_novathin"; font-size: 38px; font-weight: lighter; line-height: 1.25; color: #5a5a5a; }

h3 { font-family: "proxima_novathin"; font-size: 1.25em; font-weight: lighter; line-height: 1.25; color: #f5f5f5; }

p { color: #5a5a5a; line-height: 20px; }

section { position: relative; display: block; width: 100%; }

.container { position: relative; display: block; margin: 0 auto; width: 74rem; }
@media only screen and (max-width: 74rem) { .container { width: auto; } }
.container a { color: #1479DE; }
.container a:hover { text-decoration: underline; }
.container ul { margin-left: 20px; margin-bottom: 10px; padding: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.container ul li { color: #5a5a5a; list-style: disc; position: relative; display: list-item; margin-bottom: 10px; }
.container ul li a:hover { text-decoration: underline; }

.green { -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transition: all 0.4s ease; transition: all 0.4s ease; color: #27ae60; }
.green:hover { -webkit-transition: all 0.15s ease; -moz-transition: all 0.15s ease; -ms-transition: all 0.15s ease; transition: all 0.15s ease; }

.addr { background-color: #9a9a9a; color: #f5f5f5; padding: 0.2em 0.3em; border-radius: 0.3em; max-width: 100%; display: inline-block; word-wrap: break-word; }

.tt { font-family: "Courier", monospace; }

.header { background-color: #27ae60; padding-top: 100px; padding-bottom: 300px; }
.header h1 { color: #f5f5f5; }
.header .home-container { max-width: 800px; text-align: center; }

@media only screen and (max-width: 568px) { .header { padding-bottom: 44vw; } }
.video-container { position: relative; margin: 0 auto; max-width: 704px; width: 100%; bottom: 200px; z-index: 99999999; overflow: hidden; }
.video-container .video-wrapper { position: relative; display: block; height: 0; border: none; padding-bottom: 56.25%; overflow: hidden; }
.video-container .video-wrapper iframe, .video-container .video-wrapper object, .video-container .video-wrapper embed, .video-container .video-wrapper > div { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.video-container iframe:not([seamless]) { border: none; }
.video-container .placeholder { position: relative; margin: 0 auto; max-width: 700px; }
.video-container .placeholder img { position: relative; display: block; max-width: 700px; width: 100%; }
.video-container .placeholder:hover { cursor: pointer; }

@media only screen and (max-width: 380px) { .video-container { bottom: 160px; } }
.https-is-broken { display: flex; margin: -13rem auto 5rem auto; width: min-content; max-width: calc(100% - 2rem); }
@media only screen and (max-width: 40rem) { .https-is-broken { margin-top: -29vw; } }
.https-is-broken h2 { margin-top: 1.4rem; margin-bottom: .5rem; font-weight: bold; font-size: 2rem; }
.https-is-broken .container { width: auto; }
.https-is-broken img { margin: 0 auto; }
@media only screen and (max-width: 74rem) { .https-is-broken img { max-width: calc(100vw - 2rem); } }

.what-we-do { padding: 100px 0; background-color: #f5f5f5; text-align: center; }
.what-we-do h2 { margin-bottom: 50px; }
.what-we-do .half { text-align: left; display: grid; grid-auto-flow: column; justify-content: space-between; gap: 3.5rem; max-width: calc(100% - 2rem); margin: 0 auto; }
@media only screen and (max-width: 800px) { .what-we-do .half { grid-auto-flow: row; } }
.what-we-do .half h3 { color: #0C6130; font-size: 32px; margin-bottom: 12px; }
.what-we-do .half h4 { margin-top: 40px; font-size: 1.1em; font-family: "proxima_novabold"; }
.what-we-do .blog-post-link { color: #0C6130; position: relative; display: block; margin-bottom: 10px; font-family: "proxima_novaregular"; margin-top: 20px; }
.what-we-do .blog-post-link img { position: relative; display: inline-block; max-width: 25px; margin-right: 10px; vertical-align: middle; }
.what-we-do .blog-post-link:hover { color: #1479DE; }
.what-we-do .button { font-size: .9em; text-align: center; position: relative; display: block; max-width: 80px; padding: 11px; border-radius: 6px; background-color: #f5f5f5; color: #1479DE; margin-top: 30px; border: 1px solid #1479DE; }
.what-we-do .button:hover { background-color: #1479DE; color: #f5f5f5; }

.other-project-list { display: flex; gap: 1.875rem; justify-content: center; margin-bottom: 7.5rem; text-align: left; flex-wrap: wrap; margin: 0 auto 7.5rem auto; }
.other-project-list h3 { font-family: 'proxima_novabold'; font-size: 1.5rem; font-weight: bold; color: #141414; margin-top: 0.8rem; margin-bottom: 1rem; }
@media only screen and (max-width: 800px) { .other-project-list { max-width: calc(100% - 2rem); }
  .other-project-list img { max-width: 100%; } }

.project-list { max-width: 370px; }
@media only screen and (min-width: 800px) { .project-list { width: min-content; } }

.footer { text-align: center; padding: 100px 0; }
.footer ul li { position: relative; display: inline-block; margin: 0 20px; }
.footer ul li a:hover { color: #1479DE; }
@media only screen and (max-width: 568px) { .footer ul li { margin-bottom: 20px; } }
.footer .social-icons { margin-top: 35px; }
.footer .social-icons li { font-size: 18px; }
.footer .form-container { position: relative; display: block; margin-top: 60px; }
.footer .form-container p { color: #aeaeae; margin-bottom: 14px; font-size: .9em; }
.footer .form-container form input { -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; vertical-align: bottom; -webkit-appearance: none; -webkit-font-smoothing: antialiased; font-family: "proxima_novaregular"; background-color: #eeeeee; max-width: 300px; width: 100%; height: 50px; font-weight: normal; position: relative; border-radius: 0; font-size: 14px; text-align: left; position: relative; display: inline-block; outline: none; padding: 3px 20px; margin: 5px 1px 3px 0px; border: 1px solid #141414; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; }
.footer .form-container form input:hover, .footer .form-container form input:focus { background-color: #f5f5f5; }
.footer .form-container form .submit { font-family: "proxima_novaregular"; color: #1479DE; position: relative; width: 70px; max-height: 50px; height: 50px; padding-left: 5px; right: 7px; padding-right: 5px; margin-bottom: 3px; text-align: center; -webkit-appearance: none; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; }
.footer .form-container form .submit:hover, .footer .form-container form .submit:focus, .footer .form-container form .submit:active { -webkit-font-smoothing: antialiased; cursor: pointer; background-color: #1479DE; color: #f5f5f5; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; }
@media only screen and (max-width: 568px) { .footer .form-container form input { max-width: 190px; } }
.footer .form-container form:hover input { border-color: #1479DE; }

.team .header { padding: 60px 0; background-color: #27ae60; }
.team .header h1 { font-size: 40px; }
.team .header h3 { font-size: 1.1em; }
.team .meet-the-team { padding: 80px 0; background-color: #f5f5f5; }
.team .meet-the-team h2 { font-size: 34px; color: #0C6130; margin-bottom: 30px; }
.team .meet-the-team .members .member { position: relative; display: block; width: 100%; padding: 50px 0; }
.team .meet-the-team .members .member .img { width: 19%; display: inline-block; vertical-align: middle; margin-right: 5%; }
.team .meet-the-team .members .member .img img { position: relative; max-width: 150px; width: 100%; height: auto; border-radius: 50%; }
.team .meet-the-team .members .member .content { width: 74%; display: inline-block; vertical-align: middle; }
.team .meet-the-team .members .member .content h4 { color: #141414; font-size: 1.2em; }
.team .meet-the-team .members .member .content span { font-size: .7em; color: #888888; }
.team .meet-the-team .members .member .content p { margin-top: 20px; color: #5a5a5a; }
@media only screen and (max-width: 668px) { .team .meet-the-team .members .member .img, .team .meet-the-team .members .member .content { float: left; } }
.team #memory-of { background-color: #f5f5f5; padding-bottom: 80px; text-align: center; }
.team #memory-of a { color: #1479DE; }
.team #memory-of a:hover { text-decoration: underline; }
.team #memory-of h2 { font-size: 34px; color: #0C6130; margin-bottom: 50px; text-align: left; }
.team #memory-of .half { position: relative; display: block; width: 47%; float: left; }
.team #memory-of .half h3 { color: #141414; font-size: 1.6em; font-family: 'proxima_novaregular'; margin-bottom: 20px; }
.team #memory-of .half img { max-height: 200px; }
.team #memory-of .half p { margin-top: 20px; color: #777777; }
.team #memory-of .half-left { margin-right: 6%; }
@media only screen and (max-width: 668px) { .team #memory-of .half { width: 100%; margin-bottom: 50px; }
  .team #memory-of .half-left { margin-right: 0; } }

.donate .header { padding: 60px 0; background-color: #27ae60; }
.donate .header h1 { font-size: 40px; }
.donate .header h3 { font-size: 1.1em; }
.donate .donate-content { padding: 80px 0; background-color: #f5f5f5; }
.donate .donate-content h2 { font-size: 34px; color: #0C6130; margin-bottom: 30px; }
.donate .donate-content .spacer { margin-bottom: 10px; }
.donate .donate-content .top-spacer { margin-top: 30px; }
.donate .donate-content .bitpay-donate { margin-bottom: 30px; }
.donate .donate-content .bitpay-donate input, .donate .donate-content .bitpay-donate select { vertical-align: bottom; -webkit-appearance: none; -webkit-font-smoothing: antialiased; font-family: "proxima_novaregular"; background-color: #f5f5f5; border: none; max-width: 250px; width: 100%; height: 50px; font-weight: normal; position: relative; border-radius: 0; font-size: 14px; text-align: left; position: relative; display: inline-block; outline: none; padding: 3px 20px; margin: 5px 1px 3px 0px; border: 1px solid #141414; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; }
.donate .donate-content .bitpay-donate .bitpay-donate-field-price { max-width: 150px; }
.donate .donate-content .bitpay-donate .bitpay-donate-button { border: none; width: auto; padding: 0; }
.donate .donate-content .bitpay-donate select { max-width: 110px; text-align: center; }
.donate .donate-content .bitpay-donate option { text-align: center; }
.donate .donate-content .bitpay-donate input:hover, .donate .donate-content .bitpay-donate input:focus { background-color: #f5f5f5; }
.donate .donate-content .bitpay-donate input:focus { border-color: #1479DE; }
.donate .donate-content .bitpay-donate select:hover, .donate .donate-content .bitpay-donate select:focus { background-color: #1479DE; border-color: #1479DE; color: #f5f5f5; cursor: pointer; }
.donate .donate-content .bitpay-donate .submit { font-family: "proxima_novaregular"; color: #1479DE; position: relative; width: 70px; max-height: 50px; height: 50px; padding-left: 5px; right: 6px; padding-right: 5px; margin-bottom: 3px; text-align: center; -webkit-appearance: none; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; }
.donate .donate-content .bitpay-donate .submit:hover, .donate .donate-content .bitpay-donate .submit:focus, .donate .donate-content .bitpay-donate .submit:active { -webkit-font-smoothing: antialiased; cursor: pointer; background-color: #1479DE; color: #f5f5f5; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; }
@media only screen and (max-width: 568px) { .donate .donate-content .bitpay-donate input { max-width: 190px; } }
.donate .donate-content .tilt { position: relative; display: block; width: 160px; padding: 14px 20px; font-size: 16px; border-radius: 5px; background-color: #1479DE; color: #f5f5f5; text-align: center; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; }
.donate .donate-content .tilt:hover { cursor: pointer; background-color: #105EAA; }

.browser-extension .header { padding: 60px 0; background-color: #27ae60; }
.browser-extension .header h1 { font-size: 40px; }
.browser-extension .header h3 { font-size: 1.1em; }
.browser-extension .browser-extension { padding: 80px 0; background-color: #f5f5f5; }
.browser-extension .browser-extension h2 { text-align: center; font-size: 44px; color: #0C6130; margin-bottom: 20px; }
.browser-extension .browser-extension h2 span { color: #9a9a9a; font-family: 'proxima_novaregular'; font-size: 20px; }
.browser-extension .browser-extension .first { color: #141414; font-size: 1.3em; line-height: 1.4; position: relative; display: block; margin: 20px 0; }
.browser-extension .browser-extension p { color: #5a5a5a; }
.browser-extension #unblock { padding-top: 80px; text-align: left; }
.browser-extension #unblock h2 { text-align: left; }
.browser-extension #faq { padding-top: 80px; }
.browser-extension #faq sup { vertical-align: super; font-size: .8em; }
.browser-extension #faq h2 { text-align: left; }
.browser-extension #faq h3 { font-size: 1.5em; color: #141414; font-family: 'proxima_novaregular'; padding: 10px 0; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transition: all 0.4s ease; transition: all 0.4s ease; }
.browser-extension #faq h3:hover { color: #1479DE; text-decoration: none; -webkit-transition: all 0.15s ease; -moz-transition: all 0.15s ease; -ms-transition: all 0.15s ease; transition: all 0.15s ease; }
.browser-extension #faq p { margin-bottom: 10px; }
.browser-extension #faq p a:hover { text-decoration: underline; }
.browser-extension #faq a { color: #1479DE; }

.b-blue { color: #1479DE; }

.b-blue:hover { text-decoration: underline; }

sup { line-height: 0em; }

sup a { color: #27AE60; }

.footnote-button:hover { opacity: 0.6; }

.footnote-button:active { opacity: 0.6; }

.footnote-button.active { opacity: 0.9; -webkit-transition-delay: 0.05s; -moz-transition-delay: 0.05s; -ms-transition-delay: 0.05s; transition-delay: 0.05s; }

.footnote-circle:last-child { margin-right: 0; }

.footnote-content { position: fixed; z-index: 10; bottom: auto; left: auto; box-sizing: border-box; max-width: 90%; margin: 1.21924em auto; display: inline-block; -webkit-transform: scale(0.1) translateZ(0); -moz-transform: scale(0.1) translateZ(0); -ms-transform: scale(0.1) translateZ(0); transform: scale(0.1) translateZ(0); -webkit-transform-origin: 50% 0; -moz-transform-origin: 50% 0; -ms-transform-origin: 50% 0; transform-origin: 50% 0; background: #fafafa; opacity: 0; border-radius: 0.5em; border: 1px solid #1479DE; -webkit-transition-property: opacity, -webkit-transform; -moz-transition-property: opacity, -moz-transform; -ms-transition-property: opacity, -ms-transform; transition-property: opacity, transform; -webkit-transition-duration: 0.25s; -moz-transition-duration: 0.25s; -ms-transition-duration: 0.25s; transition-duration: 0.25s; }

.footnote-content.active { -webkit-transform: scale(1) translateZ(0); -moz-transform: scale(1) translateZ(0); -ms-transform: scale(1) translateZ(0); transform: scale(1) translateZ(0); opacity: 0.97; }

.footnote-content.bottom { -webkit-transform-origin: top; -moz-transform-origin: top; -ms-transform-origin: top; transform-origin: top; }

.footnote-content.top { -webkit-transform-origin: bottom; -moz-transform-origin: bottom; -ms-transform-origin: bottom; transform-origin: bottom; }

.footnote-content ::-webkit-scrollbar { display: none; }

.footnote-main-wrapper { position: relative; z-index: 14; box-sizing: border-box; overflow: hidden; margin: 0; max-width: 22em; background-color: #fafafa; border-radius: 0.5em; -webkit-transition-property: max-height; -moz-transition-property: max-height; -ms-transition-property: max-height; transition-property: max-height; -webkit-transition-duration: 0.25s; -moz-transition-duration: 0.25s; -ms-transition-duration: 0.25s; transition-duration: 0.25s; }

.footnote-content-wrapper { position: relative; z-index: 8; max-height: 15em; padding: 1.1em 1.3em 1.2em; box-sizing: border-box; overflow: auto; -webkit-overflow-scrolling: touch; background: #fafafa; border-radius: 0.5em; }

.footnote-content-wrapper img { max-width: 100%; }

.footnote-content-wrapper *:last-child { margin-bottom: 0; }

.footnote-content-wrapper *:first-child { margin-top: 0; }

.tooltip { position: absolute; z-index: 12; box-sizing: border-box; margin-left: -0.65em; width: 1.3em; height: 1.3em; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); background: #fafafa; border: 1px solid #1479DE; border-top-left-radius: 0; }

.bottom .tooltip { top: -0.65em; bottom: auto; }

.top .tooltip { bottom: -0.65em; top: auto; }

.activities .header { padding: 60px 0; background-color: #27ae60; }
.activities .header h1 { font-size: 40px; }
.activities .header h3 { font-size: 1.1em; }
.activities .activities-content { padding: 80px 0; background-color: #f5f5f5; }
.activities .activities-content h2 { font-size: 34px; color: #0C6130; margin-bottom: 10px; }
.activities .activities-content h3 { font-size: 22px; color: #5a5a5a; margin-bottom: 10px; }
.activities .activities-content .top-spacer { margin-top: 30px; }
