/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 30, ../sass/variables.scss */
.smooth-scrolling {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* line 6, ../sass/screen.scss */
body, html {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  min-height: 100%;
  font-family: "proxima-nova", helvetica, sans-serif;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  text-align: left;
  color: #141414;
  background-color: #eeeeee;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
/* line 22, ../sass/screen.scss */
body ::selection, html ::selection {
  color: #f5f5f5;
  background-color: #5a5a5a;
}
/* line 26, ../sass/screen.scss */
body ::-moz-selection, html ::-moz-selection {
  color: #f5f5f5;
  background-color: #5a5a5a;
}
/* line 31, ../sass/screen.scss */
body a, html a {
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #141414;
}
/* line 37, ../sass/screen.scss */
body a:hover, html a:hover {
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

/* line 44, ../sass/screen.scss */
.wf-loading {
  visibility: hidden;
}

/* line 48, ../sass/screen.scss */
.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
/* line 50, ../sass/screen.scss */
* html .clearfix {
  height: 1%;
}

/* line 51, ../sass/screen.scss */
.clearfix {
  display: block;
}

/* close commented backslash hack */
/* line 53, ../sass/screen.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 62, ../sass/screen.scss */
b, strong {
  font-weight: bold;
}

/* line 66, ../sass/screen.scss */
h1 {
  font-size: 48px;
  font-weight: lighter;
  line-height: 1.25;
}
/* line 70, ../sass/screen.scss */
h1 span {
  color: #141414;
}

/* line 75, ../sass/screen.scss */
h2 {
  font-size: 38px;
  font-weight: lighter;
  line-height: 1.25;
  color: #5a5a5a;
}

/* line 81, ../sass/screen.scss */
h3 {
  font-size: 1.25em;
  font-weight: lighter;
  line-height: 1.25;
  color: #f5f5f5;
}

/* line 87, ../sass/screen.scss */
p {
  color: #5a5a5a;
  line-height: 20px;
}

/* line 91, ../sass/screen.scss */
section {
  position: relative;
  display: block;
  width: 100%;
}

/* line 96, ../sass/screen.scss */
.container {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}

/* line 103, ../sass/screen.scss */
.green {
  color: #27ae60;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 107, ../sass/screen.scss */
.green:hover {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

/* line 114, ../sass/screen.scss */
.header {
  background-color: #27ae60;
  padding-top: 100px;
  padding-bottom: 300px;
}
/* line 118, ../sass/screen.scss */
.header h1 {
  color: #f5f5f5;
}
/* line 121, ../sass/screen.scss */
.header .home-container {
  max-width: 800px;
}

@media only screen and (max-width: 568px) {
  /* line 126, ../sass/screen.scss */
  .header {
    padding-bottom: 250px;
  }
}
/* line 137, ../sass/screen.scss */
.video-container {
  position: relative;
  margin: 0 auto;
  max-width: 701px;
  width: 100%;
  bottom: 200px;
  z-index: 99999999;
  overflow: hidden;
}
/* line 145, ../sass/screen.scss */
.video-container .video-wrapper {
  position: relative;
  display: block;
  height: 0;
  border: none;
  padding-bottom: 56.25%;
  overflow: hidden;
}
/* line 154, ../sass/screen.scss */
.video-container .video-wrapper iframe,
.video-container .video-wrapper object,
.video-container .video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 164, ../sass/screen.scss */
.video-container iframe:not([seamless]) {
  border: none;
}
/* line 167, ../sass/screen.scss */
.video-container .placeholder {
  position: relative;
  margin: 0 auto;
  max-width: 700px;
}
/* line 171, ../sass/screen.scss */
.video-container .placeholder img {
  position: relative;
  display: block;
  max-width: 700px;
  width: 100%;
}
/* line 178, ../sass/screen.scss */
.video-container .placeholder:hover {
  cursor: pointer;
}

@media only screen and (max-width: 380px) {
  /* line 183, ../sass/screen.scss */
  .video-container {
    bottom: 160px;
  }
}
/* line 189, ../sass/screen.scss */
.https-is-broken {
  margin-top: -100px;
  text-align: center;
  padding-bottom: 100px;
}
/* line 193, ../sass/screen.scss */
.https-is-broken h2 {
  margin-bottom: 40px;
}
/* line 196, ../sass/screen.scss */
.https-is-broken p {
  max-width: 90%;
  position: relative;
  display: block;
  margin: 0 auto;
}
/* line 201, ../sass/screen.scss */
.https-is-broken p a {
  color: #1479DE;
}
/* line 204, ../sass/screen.scss */
.https-is-broken p a:hover {
  text-decoration: underline;
}
/* line 208, ../sass/screen.scss */
.https-is-broken .b {
  margin-top: 30px;
}
/* line 212, ../sass/screen.scss */
.https-is-broken a:hover .green {
  color: #1479DE;
}

/* line 219, ../sass/screen.scss */
.what-we-do {
  padding: 100px 0;
  background-color: #f5f5f5;
  text-align: center;
}
/* line 223, ../sass/screen.scss */
.what-we-do h2 {
  margin-bottom: 50px;
}
/* line 226, ../sass/screen.scss */
.what-we-do .half {
  position: relative;
  display: block;
  width: 47%;
  float: left;
  text-align: left;
}
/* line 232, ../sass/screen.scss */
.what-we-do .half h3 {
  color: #0C6130;
  font-size: 32px;
  margin-bottom: 12px;
}
/* line 237, ../sass/screen.scss */
.what-we-do .half h4 {
  margin-top: 40px;
  font-size: 1.1em;
  font-weight: bold;
}
/* line 242, ../sass/screen.scss */
.what-we-do .half .link-container {
  position: relative;
  display: block;
  margin: 20px 0 30px 0;
}
/* line 246, ../sass/screen.scss */
.what-we-do .half .link-container .link {
  color: #0C6130;
  font-weight: bold;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
/* line 253, ../sass/screen.scss */
.what-we-do .half .link-container .link img {
  position: relative;
  display: inline-block;
  max-width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}
/* line 261, ../sass/screen.scss */
.what-we-do .half .link-container .link:hover {
  color: #1479DE;
}
/* line 266, ../sass/screen.scss */
.what-we-do .education {
  margin-right: 6%;
}
@media only screen and (max-width: 668px) {
  /* line 270, ../sass/screen.scss */
  .what-we-do .half {
    width: 100%;
    margin-bottom: 50px;
  }
  /* line 274, ../sass/screen.scss */
  .what-we-do .education {
    margin-right: 0;
  }
  /* line 277, ../sass/screen.scss */
  .what-we-do .solutions {
    margin-bottom: 0;
  }
}
/* line 281, ../sass/screen.scss */
.what-we-do .blog-post-link {
  color: #0C6130;
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 20px;
}
/* line 288, ../sass/screen.scss */
.what-we-do .blog-post-link img {
  position: relative;
  display: inline-block;
  max-width: 25px;
  margin-right: 10px;
  vertical-align: middle;
}
/* line 296, ../sass/screen.scss */
.what-we-do .blog-post-link:hover {
  color: #1479DE;
}
/* line 299, ../sass/screen.scss */
.what-we-do .button {
  font-size: .9em;
  text-align: center;
  position: relative;
  display: block;
  max-width: 80px;
  padding: 11px;
  border-radius: 6px;
  background-color: #f5f5f5;
  color: #1479DE;
  margin-top: 30px;
  border: 1px solid #1479DE;
}
/* line 312, ../sass/screen.scss */
.what-we-do .button:hover {
  background-color: #1479DE;
  color: #f5f5f5;
}

/* line 321, ../sass/screen.scss */
.footer {
  text-align: center;
  padding: 100px 0;
}
/* line 325, ../sass/screen.scss */
.footer ul li {
  position: relative;
  display: inline-block;
  margin: 0 20px;
}
/* line 332, ../sass/screen.scss */
.footer ul li a:hover {
  color: #1479DE;
}
@media only screen and (max-width: 568px) {
  /* line 337, ../sass/screen.scss */
  .footer ul li {
    margin-bottom: 20px;
  }
}
/* line 342, ../sass/screen.scss */
.footer .social-icons {
  margin-top: 35px;
}
/* line 344, ../sass/screen.scss */
.footer .social-icons li {
  font-size: 18px;
}
/* line 349, ../sass/screen.scss */
.footer .form-container {
  position: relative;
  display: block;
  margin-top: 60px;
}
/* line 353, ../sass/screen.scss */
.footer .form-container p {
  color: #aeaeae;
  margin-bottom: 14px;
  font-size: .9em;
}
/* line 359, ../sass/screen.scss */
.footer .form-container form input {
  vertical-align: bottom;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  font-family: "proxima-nova";
  background-color: #eeeeee;
  border: none;
  max-width: 300px;
  width: 100%;
  height: 50px;
  font-weight: normal;
  position: relative;
  border-radius: 0;
  font-size: 14px;
  text-align: left;
  position: relative;
  display: inline-block;
  outline: none;
  padding: 3px 20px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #141414;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}
/* line 385, ../sass/screen.scss */
.footer .form-container form input:hover, .footer .form-container form input:focus {
  background-color: #f5f5f5;
}
/* line 389, ../sass/screen.scss */
.footer .form-container form .submit {
  font-family: "proxima-nova";
  color: #1479DE;
  position: relative;
  width: 70px;
  max-height: 50px;
  height: 50px;
  padding-left: 5px;
  right: 6px;
  padding-right: 5px;
  margin-bottom: 3px;
  text-align: center;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 404, ../sass/screen.scss */
.footer .form-container form .submit:hover, .footer .form-container form .submit:focus, .footer .form-container form .submit:active {
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  background-color: #1479DE;
  color: #f5f5f5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 568px) {
  /* line 412, ../sass/screen.scss */
  .footer .form-container form input {
    max-width: 190px;
  }
}
/* line 418, ../sass/screen.scss */
.footer .form-container form:hover input {
  border-color: #1479DE;
}

/* line 2, ../sass/team.scss */
.team .header {
  padding: 60px 0;
  background-color: #27ae60;
}
/* line 5, ../sass/team.scss */
.team .header h1 {
  font-size: 40px;
}
/* line 8, ../sass/team.scss */
.team .header h3 {
  font-size: 1.1em;
}
/* line 13, ../sass/team.scss */
.team .meet-the-team {
  padding: 80px 0;
  background-color: #f5f5f5;
}
/* line 16, ../sass/team.scss */
.team .meet-the-team h2 {
  font-size: 34px;
  color: #0C6130;
  margin-bottom: 30px;
}
/* line 23, ../sass/team.scss */
.team .meet-the-team .members .member {
  position: relative;
  display: block;
  width: 100%;
  padding: 50px 0;
}
/* line 28, ../sass/team.scss */
.team .meet-the-team .members .member .img {
  width: 19%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5%;
}
/* line 33, ../sass/team.scss */
.team .meet-the-team .members .member .img img {
  position: relative;
  max-width: 150px;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
/* line 42, ../sass/team.scss */
.team .meet-the-team .members .member .content {
  width: 74%;
  display: inline-block;
  vertical-align: middle;
}
/* line 46, ../sass/team.scss */
.team .meet-the-team .members .member .content h4 {
  color: #141414;
  font-size: 1.2em;
}
/* line 50, ../sass/team.scss */
.team .meet-the-team .members .member .content span {
  font-size: .7em;
  color: #888888;
}
/* line 54, ../sass/team.scss */
.team .meet-the-team .members .member .content p {
  margin-top: 20px;
  color: #5a5a5a;
}
@media only screen and (max-width: 668px) {
  /* line 62, ../sass/team.scss */
  .team .meet-the-team .members .member .img, .team .meet-the-team .members .member .content {
    float: left;
  }
}
/* line 69, ../sass/team.scss */
.team #memory-of {
  background-color: #f5f5f5;
  padding-bottom: 80px;
  text-align: center;
}
/* line 73, ../sass/team.scss */
.team #memory-of a {
  color: #1479DE;
}
/* line 76, ../sass/team.scss */
.team #memory-of a:hover {
  text-decoration: underline;
}
/* line 79, ../sass/team.scss */
.team #memory-of h2 {
  font-size: 34px;
  color: #0C6130;
  margin-bottom: 50px;
  text-align: left;
}
/* line 85, ../sass/team.scss */
.team #memory-of .half {
  position: relative;
  display: block;
  width: 47%;
  float: left;
}
/* line 90, ../sass/team.scss */
.team #memory-of .half h3 {
  color: #141414;
  font-size: 1.6em;
  font-weight: normal;
  margin-bottom: 20px;
}
/* line 96, ../sass/team.scss */
.team #memory-of .half img {
  max-height: 200px;
}
/* line 99, ../sass/team.scss */
.team #memory-of .half p {
  margin-top: 20px;
  color: #777777;
}
/* line 104, ../sass/team.scss */
.team #memory-of .half-left {
  margin-right: 6%;
}
@media only screen and (max-width: 668px) {
  /* line 108, ../sass/team.scss */
  .team #memory-of .half {
    width: 100%;
    margin-bottom: 50px;
  }
  /* line 112, ../sass/team.scss */
  .team #memory-of .half-left {
    margin-right: 0;
  }
}

/* line 2, ../sass/donate.scss */
.donate .header {
  padding: 60px 0;
  background-color: #27ae60;
}
/* line 5, ../sass/donate.scss */
.donate .header h1 {
  font-size: 40px;
}
/* line 8, ../sass/donate.scss */
.donate .header h3 {
  font-size: 1.1em;
}
/* line 13, ../sass/donate.scss */
.donate .donate-content {
  padding: 80px 0;
  background-color: #f5f5f5;
}
/* line 16, ../sass/donate.scss */
.donate .donate-content h2 {
  font-size: 34px;
  color: #0C6130;
  margin-bottom: 30px;
}
/* line 21, ../sass/donate.scss */
.donate .donate-content ul {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 28, ../sass/donate.scss */
.donate .donate-content ul li {
  color: #5a5a5a;
  list-style: disc;
  position: relative;
  display: list-item;
  margin-bottom: 10px;
}
/* line 34, ../sass/donate.scss */
.donate .donate-content ul li a:hover {
  text-decoration: underline;
}
/* line 40, ../sass/donate.scss */
.donate .donate-content .spacer {
  margin-bottom: 10px;
}
/* line 44, ../sass/donate.scss */
.donate .donate-content .bitpay-donate {
  margin-bottom: 30px;
}
/* line 46, ../sass/donate.scss */
.donate .donate-content .bitpay-donate input, .donate .donate-content .bitpay-donate select {
  vertical-align: bottom;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  font-family: "proxima-nova";
  background-color: #f5f5f5;
  border: none;
  max-width: 250px;
  width: 100%;
  height: 50px;
  font-weight: normal;
  position: relative;
  border-radius: 0;
  font-size: 14px;
  text-align: left;
  position: relative;
  display: inline-block;
  outline: none;
  padding: 3px 20px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #141414;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}
/* line 72, ../sass/donate.scss */
.donate .donate-content .bitpay-donate .bitpay-donate-field-price {
  max-width: 150px;
}
/* line 75, ../sass/donate.scss */
.donate .donate-content .bitpay-donate .bitpay-donate-button {
  border: none;
  width: auto;
  padding: 0;
}
/* line 80, ../sass/donate.scss */
.donate .donate-content .bitpay-donate select {
  max-width: 72px;
  text-align: center;
}
/* line 84, ../sass/donate.scss */
.donate .donate-content .bitpay-donate option {
  text-align: center;
}
/* line 87, ../sass/donate.scss */
.donate .donate-content .bitpay-donate input:hover, .donate .donate-content .bitpay-donate input:focus {
  background-color: #f5f5f5;
}
/* line 90, ../sass/donate.scss */
.donate .donate-content .bitpay-donate input:focus {
  border-color: #1479DE;
}
/* line 93, ../sass/donate.scss */
.donate .donate-content .bitpay-donate select:hover, .donate .donate-content .bitpay-donate select:focus {
  background-color: #1479DE;
  border-color: #1479DE;
  color: #f5f5f5;
  cursor: pointer;
}
/* line 100, ../sass/donate.scss */
.donate .donate-content .bitpay-donate .submit {
  font-family: "proxima-nova";
  color: #1479DE;
  position: relative;
  width: 70px;
  max-height: 50px;
  height: 50px;
  padding-left: 5px;
  right: 6px;
  padding-right: 5px;
  margin-bottom: 3px;
  text-align: center;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 115, ../sass/donate.scss */
.donate .donate-content .bitpay-donate .submit:hover, .donate .donate-content .bitpay-donate .submit:focus, .donate .donate-content .bitpay-donate .submit:active {
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  background-color: #1479DE;
  color: #f5f5f5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 568px) {
  /* line 123, ../sass/donate.scss */
  .donate .donate-content .bitpay-donate input {
    max-width: 190px;
  }
}

/* line 2, ../sass/browser-extension.scss */
.browser-extension .header {
  padding: 60px 0;
  background-color: #27ae60;
}
/* line 5, ../sass/browser-extension.scss */
.browser-extension .header h1 {
  font-size: 40px;
}
/* line 8, ../sass/browser-extension.scss */
.browser-extension .header h3 {
  font-size: 1.1em;
}
/* line 13, ../sass/browser-extension.scss */
.browser-extension .browser-extension {
  padding: 80px 0;
  background-color: #f5f5f5;
}
/* line 17, ../sass/browser-extension.scss */
.browser-extension .browser-extension h2 {
  text-align: center;
  font-size: 44px;
  color: #0C6130;
  margin-bottom: 20px;
}
/* line 22, ../sass/browser-extension.scss */
.browser-extension .browser-extension h2 span {
  color: #9a9a9a;
  font-weight: normal;
  font-size: 20px;
}
/* line 28, ../sass/browser-extension.scss */
.browser-extension .browser-extension .first {
  color: #141414;
  font-size: 1.3em;
  line-height: 1.4;
  position: relative;
  display: block;
  margin: 20px 0;
}
/* line 36, ../sass/browser-extension.scss */
.browser-extension .browser-extension p {
  color: #5a5a5a;
}
/* line 42, ../sass/browser-extension.scss */
.browser-extension #unblock {
  padding-top: 80px;
  text-align: left;
}
/* line 45, ../sass/browser-extension.scss */
.browser-extension #unblock h2 {
  text-align: left;
}
/* line 50, ../sass/browser-extension.scss */
.browser-extension #faq {
  padding-top: 80px;
}
/* line 52, ../sass/browser-extension.scss */
.browser-extension #faq sup {
  vertical-align: super;
  font-size: .8em;
}
/* line 56, ../sass/browser-extension.scss */
.browser-extension #faq h2 {
  text-align: left;
}
/* line 59, ../sass/browser-extension.scss */
.browser-extension #faq h3 {
  font-size: 1.5em;
  color: #141414;
  font-weight: normal;
  padding: 10px 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 66, ../sass/browser-extension.scss */
.browser-extension #faq h3:hover {
  color: #1479DE;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 71, ../sass/browser-extension.scss */
.browser-extension #faq p {
  margin-bottom: 10px;
}
/* line 73, ../sass/browser-extension.scss */
.browser-extension #faq p a:hover {
  text-decoration: underline;
}
/* line 77, ../sass/browser-extension.scss */
.browser-extension #faq ul {
  margin-left: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 83, ../sass/browser-extension.scss */
.browser-extension #faq ul li {
  color: #5a5a5a;
  list-style: disc;
  position: relative;
  display: list-item;
  margin-bottom: 10px;
}
/* line 89, ../sass/browser-extension.scss */
.browser-extension #faq ul li a:hover {
  text-decoration: underline;
}
/* line 94, ../sass/browser-extension.scss */
.browser-extension #faq a {
  color: #1479DE;
}

/* line 100, ../sass/browser-extension.scss */
.b-blue {
  color: #1479DE;
}

/* line 103, ../sass/browser-extension.scss */
.b-blue:hover {
  text-decoration: underline;
}

/* line 109, ../sass/browser-extension.scss */
sup {
  line-height: 0em;
}

/* line 113, ../sass/browser-extension.scss */
sup a {
  color: #27AE60;
}

/* line 118, ../sass/browser-extension.scss */
.footnote-button:hover {
  opacity: 0.6;
}

/* line 119, ../sass/browser-extension.scss */
.footnote-button:active {
  opacity: 0.6;
}

/* line 120, ../sass/browser-extension.scss */
.footnote-button.active {
  opacity: 0.9;
  -webkit-transition-delay: 0.05s;
  -moz-transition-delay: 0.05s;
  -ms-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

/* line 123, ../sass/browser-extension.scss */
.footnote-circle:last-child {
  margin-right: 0;
}

/* line 125, ../sass/browser-extension.scss */
.footnote-content {
  position: fixed;
  z-index: 10;
  bottom: auto;
  left: auto;
  box-sizing: border-box;
  max-width: 90%;
  margin: 1.21924em auto;
  display: inline-block;
  -webkit-transform: scale(0.1) translateZ(0);
  -moz-transform: scale(0.1) translateZ(0);
  -ms-transform: scale(0.1) translateZ(0);
  transform: scale(0.1) translateZ(0);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  background: #fafafa;
  opacity: 0;
  border-radius: 0.5em;
  border: 1px solid #1479DE;
  -webkit-transition-property: opacity, -webkit-transform;
  -moz-transition-property: opacity, -moz-transform;
  -ms-transition-property: opacity, -ms-transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

/* line 126, ../sass/browser-extension.scss */
.footnote-content.active {
  -webkit-transform: scale(1) translateZ(0);
  -moz-transform: scale(1) translateZ(0);
  -ms-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  opacity: 0.97;
}

/* line 127, ../sass/browser-extension.scss */
.footnote-content.bottom {
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

/* line 128, ../sass/browser-extension.scss */
.footnote-content.top {
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}

/* line 130, ../sass/browser-extension.scss */
.footnote-content ::-webkit-scrollbar {
  display: none;
}

/* line 132, ../sass/browser-extension.scss */
.footnote-main-wrapper {
  position: relative;
  z-index: 14;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  max-width: 22em;
  background-color: #fafafa;
  border-radius: 0.5em;
  -webkit-transition-property: max-height;
  -moz-transition-property: max-height;
  -ms-transition-property: max-height;
  transition-property: max-height;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

/* line 134, ../sass/browser-extension.scss */
.footnote-content-wrapper {
  position: relative;
  z-index: 8;
  max-height: 15em;
  padding: 1.1em 1.3em 1.2em;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  border-radius: 0.5em;
}

/* line 135, ../sass/browser-extension.scss */
.footnote-content-wrapper img {
  max-width: 100%;
}

/* line 136, ../sass/browser-extension.scss */
.footnote-content-wrapper *:last-child {
  margin-bottom: 0;
}

/* line 137, ../sass/browser-extension.scss */
.footnote-content-wrapper *:first-child {
  margin-top: 0;
}

/* line 139, ../sass/browser-extension.scss */
.tooltip {
  position: absolute;
  z-index: 12;
  box-sizing: border-box;
  margin-left: -0.65em;
  width: 1.3em;
  height: 1.3em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fafafa;
  border: 1px solid #1479DE;
  border-top-left-radius: 0;
}

/* line 141, ../sass/browser-extension.scss */
.bottom .tooltip {
  top: -0.65em;
  bottom: auto;
}

/* line 143, ../sass/browser-extension.scss */
.top .tooltip {
  bottom: -0.65em;
  top: auto;
}
