/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 30, ../sass/variables.scss */
.smooth-scrolling {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* line 6, ../sass/screen.scss */
body, html {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  min-height: 100%;
  font-family: "proxima-nova", helvetica, sans-serif;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  text-align: left;
  color: #141414;
  background-color: #eeeeee;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
/* line 22, ../sass/screen.scss */
body ::selection, html ::selection {
  color: #f5f5f5;
  background-color: #5a5a5a;
}
/* line 26, ../sass/screen.scss */
body ::-moz-selection, html ::-moz-selection {
  color: #f5f5f5;
  background-color: #5a5a5a;
}
/* line 31, ../sass/screen.scss */
body a, html a {
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #141414;
}
/* line 37, ../sass/screen.scss */
body a:hover, html a:hover {
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

/* line 44, ../sass/screen.scss */
.wf-loading {
  visibility: hidden;
}

/* line 48, ../sass/screen.scss */
.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
/* line 50, ../sass/screen.scss */
* html .clearfix {
  height: 1%;
}

/* line 51, ../sass/screen.scss */
.clearfix {
  display: block;
}

/* close commented backslash hack */
/* line 53, ../sass/screen.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 62, ../sass/screen.scss */
b, strong {
  font-weight: bold;
}

/* line 66, ../sass/screen.scss */
h1 {
  font-size: 48px;
  font-weight: lighter;
  line-height: 1.25;
}
/* line 70, ../sass/screen.scss */
h1 span {
  color: #141414;
}

/* line 75, ../sass/screen.scss */
h2 {
  font-size: 38px;
  font-weight: lighter;
  line-height: 1.25;
  color: #5a5a5a;
}

/* line 81, ../sass/screen.scss */
h3 {
  font-size: 1.25em;
  font-weight: lighter;
  line-height: 1.25;
  color: #f5f5f5;
}

/* line 87, ../sass/screen.scss */
p {
  color: #5a5a5a;
  line-height: 20px;
}

/* line 91, ../sass/screen.scss */
section {
  position: relative;
  display: block;
  width: 100%;
}

/* line 96, ../sass/screen.scss */
.container {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}

/* line 103, ../sass/screen.scss */
.green {
  color: #27ae60;
}

/* line 110, ../sass/screen.scss */
.header {
  background-color: #27ae60;
  padding-top: 100px;
  padding-bottom: 300px;
}
/* line 114, ../sass/screen.scss */
.header h1 {
  color: #f5f5f5;
}

@media only screen and (max-width: 568px) {
  /* line 119, ../sass/screen.scss */
  .header {
    padding-bottom: 250px;
  }
}
/* line 130, ../sass/screen.scss */
.video-container {
  position: relative;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  bottom: 200px;
  z-index: 99999999;
}
/* line 137, ../sass/screen.scss */
.video-container .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
}
/* line 142, ../sass/screen.scss */
.video-container .video-wrapper iframe,
.video-container .video-wrapper object,
.video-container .video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 152, ../sass/screen.scss */
.video-container iframe:not([seamless]) {
  border: none;
}

@media only screen and (max-width: 380px) {
  /* line 157, ../sass/screen.scss */
  .video-container {
    bottom: 160px;
  }
}
/* line 163, ../sass/screen.scss */
.https-is-broken {
  margin-top: -100px;
  text-align: center;
  padding-bottom: 100px;
}
/* line 167, ../sass/screen.scss */
.https-is-broken h2 {
  margin-bottom: 40px;
}
/* line 170, ../sass/screen.scss */
.https-is-broken p {
  max-width: 90%;
  position: relative;
  display: block;
  margin: 0 auto;
}
/* line 176, ../sass/screen.scss */
.https-is-broken .b {
  margin-top: 30px;
}

/* line 182, ../sass/screen.scss */
.what-we-do {
  padding: 100px 0;
  background-color: #f5f5f5;
  text-align: center;
}
/* line 186, ../sass/screen.scss */
.what-we-do h2 {
  margin-bottom: 50px;
}
/* line 189, ../sass/screen.scss */
.what-we-do .half {
  position: relative;
  display: block;
  width: 47%;
  float: left;
  text-align: left;
}
/* line 195, ../sass/screen.scss */
.what-we-do .half h3 {
  color: #0C6130;
  font-size: 32px;
  margin-bottom: 12px;
}
/* line 200, ../sass/screen.scss */
.what-we-do .half h4 {
  margin-top: 40px;
  font-size: 1.1em;
  font-weight: bold;
}
/* line 205, ../sass/screen.scss */
.what-we-do .half .link-container {
  position: relative;
  display: block;
  margin: 20px 0 30px 0;
}
/* line 209, ../sass/screen.scss */
.what-we-do .half .link-container .link {
  color: #0C6130;
  font-weight: bold;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
/* line 215, ../sass/screen.scss */
.what-we-do .half .link-container .link img {
  position: relative;
  display: inline-block;
  max-width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}
/* line 223, ../sass/screen.scss */
.what-we-do .half .link-container .link:hover {
  color: #1479DE;
}
/* line 228, ../sass/screen.scss */
.what-we-do .education {
  margin-right: 6%;
}
@media only screen and (max-width: 568px) {
  /* line 232, ../sass/screen.scss */
  .what-we-do .half {
    width: 100%;
    margin-bottom: 50px;
  }
  /* line 236, ../sass/screen.scss */
  .what-we-do .education {
    margin-right: 0;
  }
  /* line 239, ../sass/screen.scss */
  .what-we-do .solutions {
    margin-bottom: 0;
  }
}
/* line 243, ../sass/screen.scss */
.what-we-do .blog-post-link {
  color: #0C6130;
  position: relative;
  display: inline-block;
  font-weight: bold;
  margin-top: 20px;
}
/* line 249, ../sass/screen.scss */
.what-we-do .blog-post-link img {
  position: relative;
  display: inline-block;
  max-width: 25px;
  margin-right: 10px;
  vertical-align: middle;
}
/* line 257, ../sass/screen.scss */
.what-we-do .blog-post-link:hover {
  color: #1479DE;
}
/* line 260, ../sass/screen.scss */
.what-we-do .button {
  font-size: .9em;
  text-align: center;
  position: relative;
  display: block;
  max-width: 80px;
  padding: 11px;
  border-radius: 6px;
  background-color: #f5f5f5;
  color: #1479DE;
  margin-top: 30px;
  border: 1px solid #1479DE;
}
/* line 273, ../sass/screen.scss */
.what-we-do .button:hover {
  background-color: #1479DE;
  color: #f5f5f5;
}

/* line 282, ../sass/screen.scss */
.footer {
  text-align: center;
  padding: 100px 0;
}
/* line 286, ../sass/screen.scss */
.footer ul li {
  position: relative;
  display: inline-block;
  margin: 0 20px;
}
/* line 293, ../sass/screen.scss */
.footer ul li a:hover {
  color: #1479DE;
}
@media only screen and (max-width: 568px) {
  /* line 298, ../sass/screen.scss */
  .footer ul li {
    margin-bottom: 20px;
  }
}
/* line 304, ../sass/screen.scss */
.footer .form-container {
  position: relative;
  display: block;
  margin-top: 60px;
}
/* line 308, ../sass/screen.scss */
.footer .form-container p {
  color: #aeaeae;
  margin-bottom: 14px;
  font-size: .9em;
}
/* line 314, ../sass/screen.scss */
.footer .form-container form input {
  font-family: "proxima-nova", helvetica, sans-serif;
  background-color: #eeeeee;
  border: none;
  max-width: 300px;
  width: 100%;
  height: 50px;
  font-weight: normal;
  position: relative;
  border-radius: 0;
  font-size: 14px;
  text-align: left;
  position: relative;
  display: inline-block;
  outline: none;
  padding: 3px 20px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #141414;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}
/* line 337, ../sass/screen.scss */
.footer .form-container form input:hover, .footer .form-container form input:focus {
  background-color: #f5f5f5;
}
/* line 341, ../sass/screen.scss */
.footer .form-container form .submit {
  font-family: "proxima-nova", helvetica, sans-serif;
  background-color: #141414;
  color: #f5f5f5;
  position: relative;
  width: 70px;
  max-height: 50px;
  height: 50px;
  padding-left: 5px;
  right: 5px;
  padding-right: 5px;
  margin-bottom: 3px;
  text-align: center;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 357, ../sass/screen.scss */
.footer .form-container form .submit:hover, .footer .form-container form .submit:focus {
  cursor: pointer;
  background-color: #141414;
  color: #1479DE;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 568px) {
  /* line 364, ../sass/screen.scss */
  .footer .form-container form input {
    max-width: 180px;
  }
}

/* line 2, ../sass/team.scss */
.team .header {
  padding: 60px 0;
  background-color: #27ae60;
}
/* line 5, ../sass/team.scss */
.team .header h1 {
  font-size: 40px;
}
/* line 8, ../sass/team.scss */
.team .header h3 {
  font-size: 1.1em;
}
/* line 13, ../sass/team.scss */
.team .meet-the-team {
  padding: 80px 0;
  background-color: #f5f5f5;
}
/* line 16, ../sass/team.scss */
.team .meet-the-team h2 {
  font-size: 34px;
  color: #0C6130;
  margin-bottom: 30px;
}
/* line 23, ../sass/team.scss */
.team .meet-the-team .members .member {
  position: relative;
  display: block;
  width: 100%;
  padding: 50px 0;
}
/* line 28, ../sass/team.scss */
.team .meet-the-team .members .member .img {
  width: 20%;
  display: block;
  float: left;
  margin-right: 5%;
}
/* line 33, ../sass/team.scss */
.team .meet-the-team .members .member .img img {
  position: relative;
  max-width: 150px;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
/* line 42, ../sass/team.scss */
.team .meet-the-team .members .member .content {
  width: 75%;
  display: block;
  float: left;
}
/* line 46, ../sass/team.scss */
.team .meet-the-team .members .member .content h4 {
  color: #141414;
  font-size: 1.2em;
}
/* line 50, ../sass/team.scss */
.team .meet-the-team .members .member .content p {
  margin-top: 20px;
  color: #5a5a5a;
}

/* line 2, ../sass/browser-extension.scss */
.browser-extension .header {
  padding: 60px 0;
  background-color: #27ae60;
}
/* line 5, ../sass/browser-extension.scss */
.browser-extension .header h1 {
  font-size: 40px;
}
/* line 8, ../sass/browser-extension.scss */
.browser-extension .header h3 {
  font-size: 1.1em;
}
/* line 13, ../sass/browser-extension.scss */
.browser-extension .browser-extension {
  padding: 80px 0;
  background-color: #f5f5f5;
}
/* line 16, ../sass/browser-extension.scss */
.browser-extension .browser-extension .okturtles {
  max-width: 130px;
  vertical-align: middle;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}
/* line 24, ../sass/browser-extension.scss */
.browser-extension .browser-extension .okturtles:hover {
  -webkit-animation: spin .5s linear infinite;
  -moz-animation: spin .5s linear infinite;
  animation: spin .5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(3deg);
  }
  50% {
    -moz-transform: rotate(0deg);
  }
  75% {
    -moz-transform: rotate(-3deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* line 83, ../sass/browser-extension.scss */
.browser-extension .browser-extension h2 {
  text-align: center;
  font-size: 44px;
  color: #0C6130;
  margin-bottom: 40px;
}
/* line 88, ../sass/browser-extension.scss */
.browser-extension .browser-extension h2 span {
  color: #9a9a9a;
  font-weight: normal;
  font-size: 20px;
}
/* line 94, ../sass/browser-extension.scss */
.browser-extension .browser-extension .first {
  color: #141414;
  font-size: 1.2em;
  line-height: 1.4;
  position: relative;
  display: block;
  margin-bottom: 20px;
}
/* line 102, ../sass/browser-extension.scss */
.browser-extension .browser-extension p {
  color: #5a5a5a;
}
