---
import BaseHead from "../components/base/BaseHead.astro";
import Footer from '../components/base/Footer.astro';
import BodyScripts from '../components/base/BodyScripts.astro';

const {
  title = 'okTurtles Foundation',
  bodyClass = ''
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} />
    <slot name="head" />
  </head>

  <body class={bodyClass}>
    <slot />

    <Footer>
      <slot name="footer">
    </Footer>

    <BodyScripts>
      <slot name="body-scripts" />
    </BodyScripts>
  </body>
</html>
